<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.LegalLastModifiedDate.Impl.LegalLastModifiedDateRequest" assembly="Atlantis.Framework.LegalLastModifiedDate.Impl.dll" request_type="191" lpc="0" ws_url="http://api.gdhelp.dev.intranet.gdg/content" />
</ConfigElements>