<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ExpressCheckoutUpdate.Impl.ExpressCheckoutUpdateRequest" assembly="Atlantis.Framework.ExpressCheckoutUpdate.Impl.dll" request_type="173" lpc="0">
    <ConfigValue key="DataSourceName" value="Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>