<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.dev.intranet.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  <!--
  DEV:
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.dev.intranet.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx" />
  
  TEST:
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.test.intranet.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx" />
  
  OTE:
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.ote.phx3.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx" />
  
  PROD:
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.intranet.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx" />  
  -->  
  
</ConfigElements>