<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="18" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsAsyncRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="23" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
</ConfigElements>
