<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommScheduleAdd.Impl.EcommScheduleAddRequest" assembly="Atlantis.Framework.EcommScheduleAdd.Impl.dll" request_type="334" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.cart.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements>
