<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCSetNameservers.Impl.DCCSetNameserversRequest" assembly="Atlantis.Framework.DCCSetNameservers.Impl.dll" request_type="114" lpc="0" ws_url="http://dccapp-general.test.intranet.gdg/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <!--<ConfigElement progid="Atlantis.Framework.DCCSetNameservers.Impl.DCCSetNameserversRequest" assembly="Atlantis.Framework.DCCSetNameservers.Impl.dll" request_type="114" lpc="0" ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>-->
</ConfigElements>
