<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.BonsaiGetPlanOptions.Tests.MockGetAccountXmlRequest" assembly="Atlantis.Framework.BonsaiGetPlanOptions.Tests.dll" request_type="74" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.BonsaiGetPlanOptions.Impl.BonsaiGetPlanOptionsRequest" assembly="Atlantis.Framework.BonsaiGetPlanOptions.Impl.dll" request_type="357" lpc="0" />
</ConfigElements>
