<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCSetContacts.Impl.DCCSetContactsRequest" assembly="Atlantis.Framework.DCCSetContacts.Impl.dll" request_type="103" lpc="0"  ws_url="http://dccapp-general.test.intranet.gdg/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <!--<ConfigElement progid="Atlantis.Framework.DCCSetContacts.Impl.DCCSetContactsRequest" assembly="Atlantis.Framework.DCCSetContacts.Impl.dll" request_type="103" lpc="0"  ws_url="http://dccapp-general.dev.intranet.gdg/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>-->
</ConfigElements>
