<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings">
            <section name="Atlantis.Framework.DCCGetDomainByShopper.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.DCCGetDomainByShopper.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_DCCGetDomainByShopper_Impl_DsWeb_RegCheckDomainStatusWebSvcService"
                serializeAs="String">
              <value>http://g1dwdsweb01/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default</value>
            </setting>
        </Atlantis.Framework.DCCGetDomainByShopper.Impl.Properties.Settings>
    </applicationSettings>
</configuration>