<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.IrisGetIncidentsByShopper.Impl.IrisGetIncidentsByShopperRequest" assembly="Atlantis.Framework.IrisGetIncidentsByShopper.Impl.dll" request_type="135" lpc="0" ws_url="http://iris-ws.dev.godaddy-com.ide/Iris/IrisCommunityService.asmx"/>
</ConfigElements>
