<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GiftCardBalance.Impl.GiftCardBalanceRequest" assembly="Atlantis.Framework.GiftCardBalance.Impl.dll" request_type="193" lpc="0"  ws_url="http://devgdcomm02/wscGiftCard/wscGiftCard.dll?Handler=Default"/>
</ConfigElements>