<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ExpressCheckoutPurchase.Impl.ExpressCheckoutPurchaseRequest" assembly="Atlantis.Framework.ExpressCheckoutPurchase.Impl.dll" request_type="178" lpc="0" ws_url="https://devgdcomm02.jomax.paholdings.com/WSgdInstantPurchase/Service.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <!--
  <TEST>
  <ConfigElement progid="Atlantis.Framework.ExpressCheckoutPurchase.Impl.ExpressCheckoutPurchaseRequest" assembly="Atlantis.Framework.ExpressCheckoutPurchase.Impl.dll" request_type="178" lpc="0" ws_url="https://testgdcomm.jomax.paholdings.com/WSgdInstantPurchase/Service.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.test.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  <PROD>
  <ConfigElement progid="Atlantis.Framework.ExpressCheckoutPurchase.Impl.ExpressCheckoutPurchaseRequest" assembly="Atlantis.Framework.ExpressCheckoutPurchase.Impl.dll" request_type="178" lpc="0" ws_url="https://ecommrestricted.prod.intranet.gdg/WSgdInstantPurchase/Service.asmx">  
    <ConfigValue key="CertificateName" value="corp.web.mya.prod.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  -->
</ConfigElements>
