<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Engine.Tests.MockTriplet.ConfigTestRequest1" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9999" lpc="0">
    <ConfigValue key="value1" value="TestValue1" />
    <ConfigValue key="value2" value="TestValue2" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Engine.Tests.MockTriplet.ConfigTestRequest2" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9998" lpc="1" ws_url="blahblah" />
  <ConfigElement progid="Atlantis.Framework.Engine.Tests.MockTriplet.TenPercentFailRequest" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9997" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.ValidServiceUrl" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9996" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/2012/determine-cache-key.aspx" />
  <ConfigElement progid="Atlantis.Framework.InvalidServiceUrl" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9995" lpc="0" ws_url="http://blue.dev.glbt1.gdg/atlantis/2012/determine-cache-key.aspx" />
  <!--<ConfigElement progid="Atlantis.Framework.ProdFortKnox" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9994" lpc="0" ws_url="http://shopper.prod.phx3.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />-->
</ConfigElements>
