<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.AudienceTypeRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5000" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.CampaignRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5001" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.CampaignStatusTypeRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5002" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.CampaignTypeRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5003" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.CompanyRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5004" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.ObjectiveRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5005" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.OfferTypeRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5006" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.ProductRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5007" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.UserResourceRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5008" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.AudienceRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5009" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.SegmentRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5010" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.PlacementRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5021" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.AppPlacementLocationRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5022" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.ApplicationRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5023" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.CampaignMessageRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5024" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CampaignManagerData.Impl.MessageInstanceRequest" assembly="Atlantis.Framework.CampaignManagerData.Impl.dll" request_type="5025" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.CampaignManager.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="CampaignManager" />
  </ConfigElement>
</ConfigElements>