<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HCCSetUpHostingAcct.Impl.HCCSetupHostingAcctRequest" assembly="Atlantis.Framework.HCCSetUpHostingAcct.Impl.dll" request_type="260" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>