<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegRegisterPIIData.Impl.RegRegisterPIIDataRequest" assembly="Atlantis.Framework.RegRegisterPIIData.Impl.dll" request_type="115" lpc="0" ws_url="https://g1dwdtvapp01.dc1.corp.gd/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
</ConfigElements>
