<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaIsMirageCurrent.Impl.MyaIsMirageCurrentRequest" assembly="Atlantis.Framework.MyaIsMirageCurrent.Impl.dll" request_type="162" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.presentationcentral.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.presentationcentral.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="presentationcentral" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaIsMirageCurrent.Impl.MyaIsMirageCurrentRequest" assembly="Atlantis.Framework.MyaIsMirageCurrent.Impl.dll" request_type="9162" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.presentationcentral.godaddy_reporting_ro" />
    <ConfigValue key="CertificateName" value="corp.web.presentationcentral.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="presentationcentral" />
  </ConfigElement>
</ConfigElements>
