<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetFeaturedDiscussions.Impl.GetFeaturedDiscussionsRequest" assembly="Atlantis.Framework.GetFeaturedDiscussions.Impl.dll" request_type="72" lpc="0" ws_url="http://admin.test.forum-com.ide/Administration.asmx" />  
</ConfigElements>
