<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetPayeeProfile.Impl.GetPayeeProfileRequest" assembly="Atlantis.Framework.GetPayeeProfile.Impl.dll" request_type="395" lpc="0" ws_url="https://customerap.dev.glbt1.gdg/WSCgdCAP/WSCgdCAP.dll?Handler=Default">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>
