<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PrivacyPlusBundleXML.Impl.PrivacyPlusBundleXMLRequest" assembly="Atlantis.Framework.PrivacyPlusBundleXML.Impl.dll" request_type="422" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/wscgdDomainProtectionXML/wscgdDomainProtectionXML.dll?Handler=Default" />
</ConfigElements>