<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MYAWstQuoteStatusByErid.Impl.MYAWstQuoteStatusByEridRequest" assembly="Atlantis.Framework.MYAWstQuoteStatusByErid.Impl.dll" request_type="137" lpc="0" ws_url="http://quote-ws.dev.godaddy-com.ide/MYAService.asmx" />
</ConfigElements>  
