<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.CountryRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="664" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.StateRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="665" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.RegionRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="666" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.IPCountryLookupRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="697" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.IPLocationLookupRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="719" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.CountryNamesRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="722" ws_url="http://commgtwyws.dev.glbt1.gdg/WsgdI18nAPI/Country/List/" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.StateNamesRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="723" ws_url="http://commgtwyws.dev.glbt1.gdg/WsgdI18nAPI/State/List/" />
  <!-- mock request handler to cause language calls to fail -->
  <ConfigElement progid="Atlantis.Framework.Providers.Geo.Tests.FailRequest" assembly="Atlantis.Framework.Providers.Geo.Tests.dll" request_type="999" />
</ConfigElements>
