<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CMSDomainAvail.Impl.CMSDomainAvailRequest" assembly="Atlantis.Framework.CMSDomainAvail.Impl.dll" request_type="361" lpc="0" ws_url="http://services.test.godaddy-com.ide/mya/cmscreditsupport.asmx" />
</ConfigElements>