<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionsDomainName.Impl.AuctionsDomainNameRequest" assembly="Atlantis.Framework.AuctionsDomainName.Impl.dll" request_type="325" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpMemberItemService.asmx?op=FindItemByDomainName" />
</ConfigElements>