<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GSASearch.Impl.GSASearchRequest"
                 assembly="Atlantis.Framework.GSASearch.Impl.dll"
                 request_type="332"
                 lpc="0">
    <ConfigValue key="GSAPartition"
                 value="dev" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GSASearch.Impl.GSASearchRequest"
                 assembly="Atlantis.Framework.GSASearch.Impl.dll"
                 request_type="333"
                 lpc="0">
    <ConfigValue key="GSAPartition"
                 value="test" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GSASearch.Impl.GSASearchRequest"
                 assembly="Atlantis.Framework.GSASearch.Impl.dll"
                 request_type="334"
                 lpc="0">
    <ConfigValue key="GSAPartition"
                 value="prod" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GSASearch.Impl.GSASearchRequest"
                 assembly="Atlantis.Framework.GSASearch.Impl.dll"
                 request_type="335"
                 lpc="0">
    <ConfigValue key="GSAPartition"
                 value="blahblahblah" />
  </ConfigElement>
</ConfigElements>
