<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ReceiptUpsell.Impl.ReceiptUpsellRequest" assembly="Atlantis.Framework.ReceiptUpsell.Impl.dll" request_type="69" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.cart.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements>