<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.dev.sdl1.gdg/RequestBroker/Service.asmx"/>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="237" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapAsyncRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="241" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>

  <!--
  DEV:
  
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.dev.sdl1.gdg/RequestBroker/Service.asmx"/>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="237" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapAsyncRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="241" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>

  TEST:

  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.test.glbt1.gdg/RequestBroker/Service.asmx"/>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="237" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.test.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapAsyncRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="241" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.test.client.godaddy.com" />
  </ConfigElement>
  
  PROD:
  
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.prod.phx3.gdg/RequestBroker/Service.asmx"/>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="237" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.prod.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapAsyncRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="241" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.prod.client.godaddy.com" />
  </ConfigElement>
  -->
</ConfigElements>
