<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings">
            <section name="Atlantis.Framework.BizRegImageGet.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.BizRegImageGet.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_BizRegImageGet_Impl_g1dwproxima01_BusinessRegistration" serializeAs="String">
                <value>http://g1dwproxima01:9005/BusinessRegistration.asmx</value>
            </setting>
        </Atlantis.Framework.BizRegImageGet.Impl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
