<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.TrafficPageEvent.Impl.TrafficPageEventRequest" assembly="Atlantis.Framework.TrafficPageEvent.Impl.dll" request_type="166" lpc="0" ws_url="http://sitetracking.dev.glbt1.gdg/fbiPageEventService/PageEventService.svc"/>
</ConfigElements>
<!--
  <ConfigElement progid="Atlantis.Framework.TrafficPageEvent.Impl.TrafficPageEventRequest" assembly="Atlantis.Framework.TrafficPageEvent.Impl.dll" request_type="166" lpc="0" ws_url="http://sitetracking.dev.glbt1.gdg/fbiPageEventService/PageEventService.svc"/>
  <ConfigElement progid="Atlantis.Framework.TrafficPageEvent.Impl.TrafficPageEventRequest" assembly="Atlantis.Framework.TrafficPageEvent.Impl.dll" request_type="166" lpc="0" ws_url="http://sitetracking.test.glbt1.gdg/fbiPageEventService/PageEventService.svc"/>
  <ConfigElement progid="Atlantis.Framework.TrafficPageEvent.Impl.TrafficPageEventRequest" assembly="Atlantis.Framework.TrafficPageEvent.Impl.dll" request_type="166" lpc="0" ws_url="http://sitetracking.prod.mesa1.gdg/fbiPageEventService/PageEventService.svc"/>
-->