<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.NewsCenter.Impl.ReleaseByDateRequest" assembly="Atlantis.Framework.NewsCenter.Impl.dll" request_type="629" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.NewsCenter.Impl.ReleaseByDateAndTypeRequest" assembly="Atlantis.Framework.NewsCenter.Impl.dll" request_type="631" lpc="0" />
</ConfigElements>
