<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement assembly="Atlantis.Framework.AuthChangePassword.Impl.dll" progid="Atlantis.Framework.AuthChangePassword.Impl.AuthChangePasswordRequest" lpc="0" request_type="71" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default"/>
  <ConfigElement assembly="Atlantis.Framework.AuthChangePassword.Impl.dll" progid="Atlantis.Framework.AuthChangePassword.Impl.AuthChangePasswordRequest" lpc="0" request_type="1071" ws_url="http://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default"/>
</ConfigElements>
