<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionGetAreaBySectionXml.Impl.AuctionGetAreaBySectionXmlRequest" assembly="Atlantis.Framework.AuctionGetAreaBySectionXml.Impl.dll" request_type="376" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpAdminUtilsService.asmx?op=GetMembersAreaBySectionXML" />
</ConfigElements>