<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CMSCreditAccounts.Impl.CMSCreditAccountsRequest" assembly="Atlantis.Framework.CMSCreditAccounts.Impl.dll" request_type="427" lpc="0" ws_url="http://services.dev.godaddy-com.ide/mya/ActivationWizardSupport.asmx" />
</ConfigElements>
