<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.TrafficSmsTracking.Impl.TrafficSmsTrackingRequest" assembly="Atlantis.Framework.TrafficSmsTracking.Impl.dll" request_type="328" lpc="0" ws_url="http://sitetracking.dev.glbt1.gdg/fbiMobileTrackingSvc/fbiSmsTracking.svc"/>
</ConfigElements>