<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetShopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.GetShopper.Impl.dll" request_type="1" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.SearchShoppers.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.SearchShoppers.Impl.dll" request_type="2" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="3" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DeleteItem.Impl.DeleteItemRequest" assembly="Atlantis.Framework.DeleteItem.Impl.dll" request_type="5" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.ModifyItem.Impl.ModifyItemRequest" assembly="Atlantis.Framework.ModifyItem.Impl.dll" request_type="6" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasket.Impl.GetBasketRequest" assembly="Atlantis.Framework.GetBasket.Impl.dll" request_type="7" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartAsyncRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="8" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.CustomContent.Impl.CustomContentRequest" assembly="Atlantis.Framework.CustomContent.Impl.dll" request_type="9" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.BannerContent.Impl.BannerContentRequest" assembly="Atlantis.Framework.BannerContent.Impl.dll" request_type="10" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetPlanFeatures.Impl.GetPlanFeatures" assembly="Atlantis.Framework.GetPlanFeatures.Impl.dll" request_type="11" lpc="1" ws_url="http://devgdbonsai/Bonsai/Internal/CommerceHelper.asmx" />
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ProductGroup.Impl.ProductGroupRequest" assembly="Atlantis.Framework.ProductGroup.Impl.dll" request_type="13" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="14" lpc="0" ws_url="http://check.test.secureserver.net/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="15" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="16" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="17" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="18" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderAsyncRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="19" lpc="0" ws_url="http://check.test.secureserver.net/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsAsyncRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="20" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckAsyncRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="21" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotAsyncRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="22" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsAsyncRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="23" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetOverrideHash.Impl.GetOverrideHashRequest" assembly="Atlantis.Framework.GetOverrideHash.Impl.dll" request_type="26" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetDurationHash.Impl.GetDurationHashRequest" assembly="Atlantis.Framework.GetDurationHash.Impl.dll" request_type="27" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.CreateShopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.CreateShopper.Impl.dll" request_type="28" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="29" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlAsyncRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="30" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactCheck.Impl.DomainContactCheckRequest" assembly="Atlantis.Framework.DomainContactCheck.Impl.dll" request_type="31" lpc="0" ws_url="http://check.test.secureserver-net.ide/RegContactValidationWebSvc/ContactValidationService.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="32" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferAsyncRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="33" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetBasketPrice.Impl.GetBasketPriceRequest" assembly="Atlantis.Framework.GetBasketPrice.Impl.dll" request_type="34" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DataProvider.Impl.DataProviderRequest" assembly="Atlantis.Framework.DataProvider.Impl.dll" request_type="35" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="36" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceAsyncRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="37" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.GetGuestbookPage.Impl.GetGuestbookPageRequest" assembly="Atlantis.Framework.GetGuestbookPage.Impl.dll" request_type="38" lpc="0" ws_url="http://guestbook.dev.websitetonight-com.ide/services/GuestbookService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.AddGuestbookComment.Impl.AddGuestbookCommentRequest" assembly="Atlantis.Framework.AddGuestbookComment.Impl.dll" request_type="39" lpc="0" ws_url="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckRequest" assembly="Atlantis.Framework.NameserverCheck.Impl.dll" request_type="40" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckAsyncRequest" assembly="Atlantis.Framework.NaserverCheck.Impl.dll" request_type="41" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.AddCommercialVote.Impl.AddCommercialVoteAsyncRequest" assembly="Atlantis.Framework.AddCommercialVote.Impl.dll" request_type="42" lpc="0" ws_url="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DomainsBotSemantic.Impl.DomainsBotSemanticRequest" assembly="Atlantis.Framework.DomainsBotSemantic.Impl.dll" request_type="43" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotSemantic.Impl.DomainsBotSemanticAsyncRequest" assembly="Atlantis.Framework.DomainsBotSemantic.Impl.dll" request_type="44" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="45" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseAsyncRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="46" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotTypo.Impl.DomainsBotTypoRequest" assembly="Atlantis.Framework.DomainsBotTypo.Impl.dll" request_type="47" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/typogenerator.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotTypo.Impl.DomainsBotTypoAsyncRequest" assembly="Atlantis.Framework.DomainsBotTypo.Impl.dll" request_type="48" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/typogenerator.asmx" />
  <ConfigElement progid="Atlantis.Framework.UpdateItem.Impl.UpdateItemRequest" assembly="Atlantis.Framework.UpdateItem.Impl.dll" request_type="49" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.ClearBasket.Impl.ClearBasketRequest" assembly="Atlantis.Framework.ClearBasket.Impl.dll" request_type="50" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="51" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.TransferBasket.Impl.TransferBasketRequest" assembly="Atlantis.Framework.TransferBasket.Impl.dll" request_type="52" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.KiwiLogger.Impl.KiwiLoggerRequest" assembly="Atlantis.Framework.KiwiLogger.Impl.dll" request_type="53" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.PurchaseBasket.Impl.PurchaseBasketRequest" assembly="Atlantis.Framework.PurchaseBasket.Impl.dll" request_type="54" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.AddBasketShipping.Impl.AddBasketShippingRequest" assembly="Atlantis.Framework.AddBasketShipping.Impl.dll" request_type="55" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetValidPaymentType.Impl.GetValidPaymentTypeRequest" assembly="Atlantis.Framework.GetValidPaymentType.Impl.dll" request_type="56" lpc="0" ws_url="http://devgdcomm02/WSCgdPaymentTypes/WSCgdPaymentTypes.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddBasketAttribute.Impl.AddBasketAttributeRequest" assembly="Atlantis.Framework.AddBasketAttribute.Impl.dll" request_type="57" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Document.Impl.DocumentRequest" assembly="Atlantis.Framework.Document.Impl.dll" request_type="58" lpc="0" ws_url="http://www.dev.documents.secureserver.net/d3s/d3s.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetPaymentProfiles.Impl.GetPaymentProfilesRequest" assembly="Atlantis.Framework.GetPaymentProfiles.Impl.dll" request_type="59" lpc="0" ws_url="http://devgdcomm02/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.ShopperPinSet.Impl.ShopperPinSetRequest" assembly="Atlantis.Framework.ShopperPinSet.Impl.dll" request_type="60" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.UpdateShopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.UpdateShopper.Impl.dll" request_type="61" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasketItemCounts.Impl.GetBasketItemCountsRequest" assembly="Atlantis.Framework.GetBasketItemCounts.Impl.dll" request_type="62" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.VerifyShopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.VerifyShopper.Impl.dll" request_type="63" lpc="0"/>
  <ConfigElement progid="Atlantis.Framework.PrivateStoreSettings.Impl.PrivateStoreRequest" assembly="Atlantis.Framework.PrivateStoreSettings.Impl.dll" request_type="64" lpc="0" ws_url="http://g1dwproxima01:9003/PrivateStore.asmx" />
  <ConfigElement progid="Atlantis.Framework.ManagerUser.Impl.ManagerUserLookupRequest" assembly="Atlantis.Framework.ManagerUser.Impl.dll" request_type="65" lpc="0" ws_url="http://g1dwdvweb01/ManagerUserLookup/LookupService.asmx" />
  <ConfigElement progid="Atlantis.Framework.MessagingProcess.Impl.MessagingProcessRequest" assembly="Atlantis.Framework.MessagingProcess.Impl.dll" request_type="66" lpc="0" ws_url="http://devgdmsg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.ConfirmationEmail.Impl.ConfirmationEmailRequest" assembly="Atlantis.Framework.ConfirmationEmail.Impl.dll" request_type="67" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.FastballLogOrder.Impl.FastballLogOrderRequest" assembly="Atlantis.Framework.FastballLogOrder.Impl.dll" request_type="68" lpc="0" ws_url="http://devciaapp01/fbiwebsitevisittrackingws/order.asmx" />
  <ConfigElement progid="Atlantis.Framework.ReceiptUpsell.Impl.ReceiptUpsellRequest" assembly="Atlantis.Framework.ReceiptUpsell.Impl.dll" request_type="69" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.BazaarLinks.Impl.BazaarLinksRequest" assembly="Atlantis.Framework.BazaarLinks.Impl.dll" request_type="70" lpc="0" ws_url="http://g1dwproxima01:9002/BazaarResources.asmx" />
  <ConfigElement progid="Atlantis.Framework.ChangePassword.Impl.ChangePasswordRequest" assembly="Atlantis.Framework.ChangePassword.Impl.dll" request_type="71" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.GetFeaturedDiscussions.Impl.GetFeaturedDiscussionsRequest" assembly="Atlantis.Framework.GetFeaturedDiscussions.Impl.dll" request_type="72" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.ShopperCreditLine.Impl.ShopperCreditLineRequest" assembly="Atlantis.Framework.ShopperCreditLine.Impl.dll" request_type="73" lpc="0" ws_url="http://devgdcomm02/WSgdLOCPublic/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetAccountXML.Impl.GetAccountXMLRequest" assembly="Atlantis.Framework.GetAccountXML.Impl.dll" request_type="74" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetRenewalOptions.Impl.GetRenewalOptionsRequest" assembly="Atlantis.Framework.GetRenewalOptions.Impl.dll" request_type="75" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetTransitionsAndRank.Impl.GetTransitionsAndRankRequest" assembly="Atlantis.Framework.GetTransitionsAndRank.Impl.dll" request_type="76" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.ChangeAccount.Impl.ChangeAccountRequest" assembly="Atlantis.Framework.ChangeAccount.Impl.dll" request_type="77" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.QueueCancelMessage.Impl.QueueCancelMessageRequest" assembly="Atlantis.Framework.QueueCancelMessage.Impl.dll" request_type="78" lpc="0" ws_url="http://cancellation.dev.glbt1.gdg/WScgdCancellation/wscgdCancellation.dll?Handler=GenwscgdCancellationWSDL" />
  <ConfigElement progid="Atlantis.Framework.RedeemCreditEx.Impl.RedeemCreditExRequest" assembly="Atlantis.Framework.RedeemCreditEx.Impl.dll" request_type="79" lpc="0" ws_url="http://devgdcomm02/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetCreditGroupSummary.Impl.GetCreditGroupSummaryRequest" assembly="Atlantis.Framework.GetCreditGroupSummary.Impl.dll" request_type="80" lpc="0" ws_url="http://devgdcomm02/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetParentResourcesByAvailableCredits.Impl.GetParentResourcesByAvailableCreditsRequest" assembly="Atlantis.Framework.GetParentResourcesByAvailableCredits.Impl.dll" request_type="81" lpc="0" ws_url="http://devgdcomm02/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetCreditSummary.Impl.GetCreditSummaryRequest" assembly="Atlantis.Framework.GetCreditSummary.Impl.dll" request_type="82" lpc="0" ws_url="http://devgdcomm02/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.PurchaseEmail.Impl.PurchaseEmailRequest" assembly="Atlantis.Framework.PurchaseEmail.Impl.dll" request_type="83" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GetMobileToken.Impl.GetMobileTokenRequest" assembly="Atlantis.Framework.GetMobileToken.Impl.dll" request_type="84" lpc="0" ws_url="https://mob.dev.godaddy-com.ide/csa/service.asmx"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.VerifyMobileToken.Impl.VerifyMobileTokenRequest" assembly="Atlantis.Framework.VerifyMobileToken.Impl.dll" request_type="85" lpc="0" ws_url="https://mob.dev.godaddy-com.ide/csa/service.asmx"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GetCoupons.Impl.GetCouponsRequest" assembly="Atlantis.Framework.GetCoupons.Impl.dll" request_type="86" lpc="0" ws_url="http://devgdcomm02/WSCgdAdWordCoupons/WSCgdAdWordCoupons.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AuctionsAreaBySection.Impl.AuctionsAreaBySectionRequest" assembly="Atlantis.Framework.AuctionsAreaBySection.Impl.dll" request_type="87" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpAdminUtilsService.asmx" />
  <ConfigElement progid="Atlantis.Framework.AuctionsMostActiveByPrice.Impl.AuctionsMostActiveByPriceRequest" assembly="Atlantis.Framework.AuctionsMostActiveByPrice.Impl.dll" request_type="88" lpc="0" ws_url="http://testdnaweb01/trpLandingDomainsService/trpLandingDomains.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetOffersWithPlId.Impl.GetOffersWithPlIdRequest" assembly="Atlantis.Framework.GetOffersWithPlId.Impl.dll" request_type="89" lpc="0" ws_url="http://172.19.69.1/fbiSmartOffers/SmartOffers.asmx" />  
  <ConfigElement progid="Atlantis.Framework.LogOfferClick.Impl.LogOfferClickRequest" assembly="Atlantis.Framework.LogOfferClick.Impl.dll" request_type="90" lpc="0" ws_url="http://172.19.69.1/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.LogOfferImpression.Impl.LogOfferImpressionRequest" assembly="Atlantis.Framework.LogOfferImpression.Impl.dll" request_type="91" lpc="0" ws_url="http://172.19.69.1/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetExpiringProfiles.Impl.GetExpiringProfilesRequest" assembly="Atlantis.Framework.GetExpiringProfiles.Impl.dll" request_type="92" lpc="0" ws_url="http://devgdcomm02/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetDomainInfo.Impl.GetDomainInfoRequest" assembly="Atlantis.Framework.GetDomainInfo.Impl.dll" request_type="93" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GetRenewingDomainCount.Impl.GetRenewingDomainCountRequest" assembly="Atlantis.Framework.GetRenewingDomainCount.Impl.dll" request_type="94" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Domains" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="http://172.19.68.11/accreditation/services/ShopperInfo.wsdl" />
  <ConfigElement progid="Atlantis.Framework.AddBasketBilling.Impl.AddBasketBillingRequest" assembly="Atlantis.Framework.AddBasketBilling.Impl.dll" request_type="96" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetNetGiroMerchantData.Impl.GetNetGiroMerchantDataRequest" assembly="Atlantis.Framework.GetNetGiroMerchantData.Impl.dll" request_type="97" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.RemoveItemLog.Impl.RemoveItemLogRequest" assembly="Atlantis.Framework.RemoveItemLog.Impl.dll" request_type="98" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.BillingAlertsByShopper.Impl.BillingAlertsByShopperRequest" assembly="Atlantis.Framework.BillingAlertsByShopper.Impl.dll" request_type="99" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainByShopper.Impl.DCCGetDomainByShopperRequest" assembly="Atlantis.Framework.DCCGetDomainByShopper.Impl.dll" request_type="100" lpc="0"  ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCSetAutoRenew.Impl.DCCSetAutoRenewRequest" assembly="Atlantis.Framework.DCCSetAutoRenew.Impl.dll" request_type="101" lpc="0"  ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCSetLocking.Impl.DCCSetLockingRequest" assembly="Atlantis.Framework.DCCSetLocking.Impl.dll" request_type="102" lpc="0"  ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCSetContacts.Impl.DCCSetContactsRequest" assembly="Atlantis.Framework.DCCSetContacts.Impl.dll" request_type="103" lpc="0"  ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainContacts.Impl.DCCGetDomainContactsRequest" assembly="Atlantis.Framework.DCCGetDomainContacts.Impl.dll" request_type="104" lpc="0"  ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.RemoveBulkdomain.Impl.RemoveBulkDomainRequest" assembly="Atlantis.Framework.RemoveBulkdomain.Impl.dll" request_type="105" lpc="0"  ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDNS.Impl.DCCGetDNSRequest" assembly="Atlantis.Framework.DCCGetDNS.Impl.dll" request_type="106" lpc="0"  ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php"/>
  <ConfigElement progid="Atlantis.Framework.DCCCreateDNS.Impl.DCCCreateDNSRequest" assembly="Atlantis.Framework.DCCCreateDNS.Impl.dll" request_type="107" lpc="0"  ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php"/>
  <ConfigElement progid="Atlantis.Framework.DCCDeleteDNS.Impl.DCCDeleteDNSRequest" assembly="Atlantis.Framework.DCCDeleteDNS.Impl.dll" request_type="108" lpc="0"  ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php"/>
  <ConfigElement progid="Atlantis.Framework.DCCModifyDNS.Impl.DCCModifyDNSRequest" assembly="Atlantis.Framework.DCCModifyDNS.Impl.dll" request_type="109" lpc="0"  ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetForwarding.Impl.DCCGetForwardingRequest" assembly="Atlantis.Framework.DCCGetForwarding.Impl.dll" request_type="110" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCForwardingUpdate.Impl.DCCForwardingUpdateRequest" assembly="Atlantis.Framework.DCCForwardingUpdate.Impl.dll" request_type="111" lpc="0" ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCForwardingDelete.Impl.DCCForwardingDeleteRequest" assembly="Atlantis.Framework.DCCForwardingDelete.Impl.dll" request_type="112" lpc="0" ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetNameservers.Impl.DCCGetNameserversRequest" assembly="Atlantis.Framework.DCCGetNameservers.Impl.dll" request_type="113" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCSetNameservers.Impl.DCCSetNameserversRequest" assembly="Atlantis.Framework.DCCSetNameservers.Impl.dll" request_type="114" lpc="0" ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.RegRegisterPIIData.Impl.RegRegisterPIIDataRequest" assembly="Atlantis.Framework.RegRegisterPIIData.Impl.dll" request_type="115" lpc="0" ws_url="https://g1dwdtvapp01.dc1.corp.gd/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetSurveyTakenInfo.Impl.GetSurveyTakenInfoRequest" assembly="Atlantis.Framework.GetSurveyTakenInfo.Impl.dll" request_type="116" lpc="0" ws_url="http://devisgweb01/pqcws/pqcws.asmx" />
  <ConfigElement progid="Atlantis.Framework.EventGetServicesList.Impl.EventGetServicesListRequest" assembly="Atlantis.Framework.EventGetServicesList.Impl.dll" request_type="117" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
  <ConfigElement progid="Atlantis.Framework.EventGetAllActiveEvents.Impl.EventGetAllActiveEventsRequest" assembly="Atlantis.Framework.EventGetAllActiveEvents.Impl.dll" request_type="118" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainInfoByID.Impl.DCCGetDomainInfoByIDRequest" assembly="Atlantis.Framework.DCCGetDomainInfoByID.Impl.dll" request_type="119" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetExpirationCount.Impl.DCCGetExpirationCountRequest" assembly="Atlantis.Framework.DCCGetExpirationCount.Impl.dll" request_type="120" lpc="0" ws_url="http://g1dwdsweb01.dev.glbt1.gdg/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.ShowUpdateEmailMessage.Impl.ShowUpdateEmailMessageRequest" assembly="Atlantis.Framework.ShowUpdateEmailMessage.Impl.dll" request_type="121" lpc="0" ws_url="http://devgdmsg/MessagingWS/MessagingWebService.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.MYAGetProduct.Impl.MYAGetProductRequest" assembly="Atlantis.Framework.MYAGetProduct.Impl.dll" request_type="122" lpc="0">
    <ConfigValue key="GD_DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="MA_DataSourceName" value="corp.web.mya.MerchantAccounts" />
    <ConfigValue key="TB_DataSourceName" value="corp.web.mya.trafficBlazerApp" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.RegGetCAAgreement.Impl.RegGetCAAgreementRequest" assembly="Atlantis.Framework.RegGetCAAgreement.Impl.dll" request_type="123" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.RegGetCAProfileData.Impl.RegGetCAProfileDataRequest" assembly="Atlantis.Framework.RegGetCAProfileData.Impl.dll" request_type="124" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.ResourceInfoByProfile.Impl.ResourceInfoByProfileRequest" assembly="Atlantis.Framework.ResourceInfoByProfile.Impl.dll" request_type="125" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DCCGetRenewingDomains.Impl.DCCGetRenewingDomainsRequest" assembly="Atlantis.Framework.DCCGetRenewingDomains.Impl.dll" request_type="126" lpc="0"  ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.OrionGetUsage.Impl.OrionGetUsageRequest" assembly="Atlantis.Framework.OrionGetUsage.Impl.dll" request_type="127" lpc="0"  ws_url="http://orion.dev.starfieldtech.com/system/quotas.asmx"/>
  <ConfigElement progid="Atlantis.Framework.OrionSecurityAuth.Impl.OrionSecurityAuthRequest" assembly="Atlantis.Framework.OrionSecurityAuth.Impl.dll" request_type="128" lpc="0"  ws_url="http://172.16.17.48/security/security.asmx">
    <ConfigValue key="DataSourceName" value="corp.web.mya.orion" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OrionGetAccountsByUID.Impl.OrionGetAccountsByUIDRequest" assembly="Atlantis.Framework.OrionGetAccountsByUID.Impl.dll" request_type="129" lpc="0"  ws_url="http://orion.dev.starfieldtech.com/Account/AccountQueries.asmx"/>
  <ConfigElement progid="Atlantis.Framework.EcommInstantPurchaseGet.Impl.EcommInstantPurchaseGetRequest" assembly="Atlantis.Framework.PurchaseProfile.Impl.dll" request_type="130" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.cart.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.PrivacyRenewalBasketXml.Impl.PrivacyRenewalBasketXmlRequest" assembly="Atlantis.Framework.PrivacyRenewalBasketXml.Impl.dll" request_type="131" lpc="0"  ws_url="http://commgtwyws.dev.glbt1.gdg/wscgdDomainProtectionXML/wscgdDomainProtectionXML.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.RegIsValidXN.Impl.RegIsValidXNRequest" assembly="Atlantis.Framework.RegIsValidXN.Impl.dll" request_type="132" lpc="0" ws_url="http://g1dwregcheck01/RegIDNCheckerWebSvc/RegIDNCheckerWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegCAValidateProfileData.Impl.RegCAValidateProfileDataRequest" assembly="Atlantis.Framework.RegCAValidateProfileData.Impl.dll" request_type="133" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.RegRegistryPartnersData.Impl.RegRegistryPartnersDataRequest" assembly="Atlantis.Framework.RegRegistryPartnersData.Impl.dll" request_type="134" lpc="0" ws_url="https://g1twdtvapp01.dc1.corp.gd/RegistryPartnersDataWebSvc/RegistryPartnersData.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.BonzaiApplyAddOn.Impl.BonzaiApplyAddOnRequest" assembly="Atlantis.Framework.BonzaiApplyAddOn.Impl.dll" request_type="135" lpc="0" ws_url="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.BonzaiRemoveAddOn.Impl.BonzaiRemoveAddOnRequest" assembly="Atlantis.Framework.BonzaiRemoveAddOn.Impl.dll" request_type="136" lpc="0" ws_url="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MYAWstQuoteStatusByErid.Impl.MYAWstQuoteStatusByEridRequest" assembly="Atlantis.Framework.MYAWstQuoteStatusByErid.Impl.dll" request_type="137" lpc="0" ws_url="http://quote-ws.dev.godaddy-com.ide/MYAService.asmx" />
  <ConfigElement progid="Atlantis.Framework.SmartSpaceRenewalBasketXml.Impl.SmartSpaceRenewalBasketXmlRequest" assembly="Atlantis.Framework.SmartSpaceRenewalBasketXml.Impl.dll" request_type="138" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberAdd.Impl.BPBlogSubscriberAddRequest" assembly="Atlantis.Framework.BPBlogSubscriberAdd.Impl.dll" request_type="139" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberQuery.Impl.BPBlogSubscriberQueryRequest" assembly="Atlantis.Framework.BPBlogSubscriberQuery.Impl.dll" request_type="140" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.MYAGetHostingCredits.Impl.MYAGetHostingCreditsRequest" assembly="Atlantis.Framework.MYAGetHostingCredits.Impl.dll" request_type="141" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MYARecentOrders.Impl.MYARecentOrdersRequest" assembly="Atlantis.Framework.MYARecentOrders.Impl.dll" request_type="142" lpc="0">
    <ConfigValue key="DataSourceName" value="Godaddy_reporting_ro" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BillingOrionUpgradeInfo.Impl.BillingOrionUpgradeInfoRequest" assembly="Atlantis.Framework.BillingOrionUpgradeInfo.Impl.dll" request_type="143" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MYAResellerUpgrades.Impl.MYAResellerUpgradesRequest" assembly="Atlantis.Framework.MYAResellerUpgrades.Impl.dll" request_type="144" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GuestbookSurveyResults.Impl.GuestbookSurveyResultsRequest" assembly="Atlantis.Framework.GuestbookSurveyResults.Impl.dll" request_type="145" lpc="0" ws_url="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
  <ConfigElement progid="Atlantis.Framework.CommerceOrderXml.Impl.CommerceOrderXmlRequest" assembly="Atlantis.Framework.CommerceOrderXml.Impl.dll" request_type="146" lpc="0" ws_url="http://devgdcomm02/WsceCommerce/WsceCommerce.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.ShopperEmailStatus.Impl.ShopperEmailStatusRequest" assembly="Atlantis.Framework.ShopperEmailStatus.Impl.dll" request_type="147" lpc="0" ws_url="http://devgdmsg/MessagingWS/MessagingWebService.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.MyaShopperDataSelect.Impl.MyaShopperDataSelectRequest" assembly="Atlantis.Framework.MyaShopperDataSelect.Impl.dll" request_type="148" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaShopperDataUpdate.Impl.MyaShopperDataUpdateRequest" assembly="Atlantis.Framework.MyaShopperDataUpdate.Impl.dll" request_type="149" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.RegCheckCaContacts.Impl.RegCheckCaContactsRequest" assembly="Atlantis.Framework.RegCheckCaContacts.Impl.dll" ws_url="http://g1dwregcheck01/RegCaDataWebSvc/RegCaDataWebSvc.asmx" request_type="150" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.HostingGetRenewals.Impl.HostingGetRenewalsRequest" assembly="Atlantis.Framework.HostingGetRenewals.Impl.dll" request_type="152" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGARequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="154" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGAAsyncRequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="155" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DCCGetAppTrusteeInfoByDomainId.Impl.DCCGetAppTrusteeInfoByDomainIdRequest" assembly="Atlantis.Framework.DCCGetAppTrusteeInfoByDomainId.Impl.dll" request_type="156" lpc="0" ws_url="http://g1dwdsweb01.dev.glbt1.gdg/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.OutreachActivity.Impl.OutreachActivityRequest" assembly="Atlantis.Framework.OutreachActivity.Impl.dll" request_type="160" lpc="0" ws_url="http://svc.e.marketing.dev.intranet-gdg.ide/MyaService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.OutreachDetailActivity.Impl.OutreachDetailActivityRequest" assembly="Atlantis.Framework.OutreachDetailActivity.Impl.dll" request_type="161" lpc="0" ws_url="http://svc.e.marketing.dev.intranet-gdg.ide/MyaService.asmx"/>
</ConfigElements>
