<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>

  <!-- Mock Items for testing only -->
  <ConfigElement progid="Atlantis.Framework.Providers.Shopper.Tests.ExceptionRequest" assembly="Atlantis.Framework.Providers.Shopper.Tests.dll" request_type="736000" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="735" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="736" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="737">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="738" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="739" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="740" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.VipShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="742" />
</ConfigElements>
