<?xml version="1.0" encoding="utf-8" ?>

<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetOffersWithPlId.Impl.GetOffersWithPlIdRequest" assembly="Atlantis.Framework.GetOffersWithPlId.Impl.dll" request_type="89" lpc="0" ws_url="http://172.19.69.1/fbiSmartOffers/SmartOffers.asmx" />
</ConfigElements>