<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetPaymentProfiles.Impl.GetPaymentProfilesRequest" assembly="Atlantis.Framework.GetPaymentProfiles.Impl.dll" request_type="59" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
</ConfigElements>
