<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCDomainsDataCache.Impl.TLDMLByNameRequest" assembly="Atlantis.Framework.DCCDomainsDataCache.Impl.dll" request_type="634" lpc="0" ws_url="https://regweb.dev.glbt1.gdg/DomainsDataCacheWebSvc/DomainsDataCache.asmx" />
</ConfigElements>
