<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.Interface" version="14.3.27.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.RegDotTypeProductIds.Impl" version="4.13.10.30" targetFramework="net40" />
  <package id="Atlantis.Framework.RegDotTypeProductIds.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="14.1.28.1" targetFramework="net40" />
</packages>