<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
	
<ConfigElement progid="Atlantis.Framework.Manager.Impl.ManagerUserLookupRequest" assembly="Atlantis.Framework.Manager.Impl.dll" request_type="65" />
<ConfigElement progid="Atlantis.Framework.Manager.Impl.ManagerGetProductDetailRequest" assembly="Atlantis.Framework.Manager.Impl.dll" request_type="395">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="mya" />
</ConfigElement>
<ConfigElement progid="Atlantis.Framework.Manager.Impl.ManagerCategoriesRequest" assembly="Atlantis.Framework.Manager.Impl.dll" request_type="462" /><ConfigElement progid="Atlantis.Framework.Shopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="735" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" /><ConfigElement progid="Atlantis.Framework.Shopper.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="736" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" /><ConfigElement progid="Atlantis.Framework.Shopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="737">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
</ConfigElement>
<ConfigElement progid="Atlantis.Framework.Shopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="738" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
<ConfigElement progid="Atlantis.Framework.Shopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="739" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
<ConfigElement progid="Atlantis.Framework.Shopper.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="740" ws_url="http://shopper.dev.glbt1.gdg:80/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />

  <ConfigElement progid="Atlantis.Framework.GetShopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.GetShopper.Impl.dll" request_type="1" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.SearchShoppers.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.SearchShoppers.Impl.dll" request_type="2" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="3" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DeleteItem.Impl.DeleteItemRequest" assembly="Atlantis.Framework.DeleteItem.Impl.dll" request_type="5" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.ModifyItem.Impl.ModifyItemRequest" assembly="Atlantis.Framework.ModifyItem.Impl.dll" request_type="6" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasket.Impl.GetBasketRequest" assembly="Atlantis.Framework.GetBasket.Impl.dll" request_type="7" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartAsyncRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="8" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.CustomContent.Impl.CustomContentRequest" assembly="Atlantis.Framework.CustomContent.Impl.dll" request_type="9" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BannerContent.Impl.BannerContentRequest" assembly="Atlantis.Framework.BannerContent.Impl.dll" request_type="10" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetPlanFeatures.Impl.GetPlanFeatures" assembly="Atlantis.Framework.GetPlanFeatures.Impl.dll" request_type="11" lpc="1" ws_url="http://devgdbonsai/Bonsai/Internal/CommerceHelper.asmx" />
  <ConfigElement progid="Atlantis.Framework.ProductGroup.Impl.ProductGroupRequest" assembly="Atlantis.Framework.ProductGroup.Impl.dll" request_type="13" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="14" lpc="0" ws_url="http://check.test.secureserver.net/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="15" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="16" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="17" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="18" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderAsyncRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="19" lpc="0" ws_url="http://check.test.secureserver.net/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsAsyncRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="20" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckAsyncRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="21" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotAsyncRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="22" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsAsyncRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="23" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetOverrideHash.Impl.GetOverrideHashRequest" assembly="Atlantis.Framework.GetOverrideHash.Impl.dll" request_type="26" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetDurationHash.Impl.GetDurationHashRequest" assembly="Atlantis.Framework.GetDurationHash.Impl.dll" request_type="27" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.CreateShopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.CreateShopper.Impl.dll" request_type="28" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="29" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlAsyncRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="30" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactCheck.Impl.DomainContactCheckRequest" assembly="Atlantis.Framework.DomainContactCheck.Impl.dll" request_type="31" lpc="0" ws_url="http://g1dwregcheck01/RegContactValidationWebSvc/ContactValidationService.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="32" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferAsyncRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="33" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetBasketPrice.Impl.GetBasketPriceRequest" assembly="Atlantis.Framework.GetBasketPrice.Impl.dll" request_type="34" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DataProvider.Impl.DataProviderRequest" assembly="Atlantis.Framework.DataProvider.Impl.dll" request_type="35" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckRequest" assembly="Atlantis.Framework.NameserverCheck.Impl.dll" request_type="40" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckAsyncRequest" assembly="Atlantis.Framework.NaserverCheck.Impl.dll" request_type="41" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="45" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseAsyncRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="46" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.ClearBasket.Impl.ClearBasketRequest" assembly="Atlantis.Framework.ClearBasket.Impl.dll" request_type="50" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.TransferBasket.Impl.TransferBasketRequest" assembly="Atlantis.Framework.TransferBasket.Impl.dll" request_type="51" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Document.Impl.DocumentRequest" assembly="Atlantis.Framework.Document.Impl.dll" request_type="58" lpc="0" ws_url="http://api.gdhelp.test.intranet.gdg/document" />
  <ConfigElement progid="Atlantis.Framework.UpdateShopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.UpdateShopper.Impl.dll" request_type="61" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.VerifyShopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.VerifyShopper.Impl.dll" request_type="63" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MessagingProcess.Impl.MessagingProcessRequest" assembly="Atlantis.Framework.MessagingProcess.Impl.dll" request_type="66" lpc="0" ws_url="http://devgdmsg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BazaarLinks.Impl.BazaarLinksRequest" assembly="Atlantis.Framework.BazaarLinks.Impl.dll" request_type="70" lpc="0" ws_url="http://g1dwproxima01:9002/BazaarResources.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetFeaturedDiscussions.Impl.GetFeaturedDiscussionsRequest" assembly="Atlantis.Framework.GetFeaturedDiscussions.Impl.dll" request_type="72" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetUserProfileByShopperID.Impl.GetUserProfileByShopperIDRequest" assembly="Atlantis.Framework.GetUserProfileByShopperID.Impl.dll" request_type="73" lpc="0" ws_url="http://www.dev.commonprofile-com.ide/UserProfile.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetDiscussion.Impl.GetDiscussionRequest" assembly="Atlantis.Framework.GetDiscussion.Impl.dll" request_type="74" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.CreateIncidentInIRIS.Impl.CreateIncidentInIRISRequest" assembly="Atlantis.Framework.CreateIncidentInIRIS.Impl.dll" request_type="75" lpc="0" ws_url="https://iris-ws.dev.godaddy-com.ide/iris/IrisWebservice.asmx" />
  <ConfigElement progid="Atlantis.Framework.SearchDiscussions.Impl.SearchDiscussionsRequest" assembly="Atlantis.Framework.SearchDiscussions.Impl.dll" request_type="76" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.SearchHelp.Impl.SearchHelpRequest" assembly="Atlantis.Framework.SearchHelp.Impl.dll" request_type="77" lpc="0" ws_url="http://search-v01.prod.mesa1.gdg/search" />
  <ConfigElement progid="Atlantis.Framework.GetBazaarAccount.Impl.GetBazaarAccountRequest" assembly="Atlantis.Framework.GetBazaarAccount.Impl.dll" request_type="78" lpc="0" ws_url="http://g1dwproxima01:9002/BazaarResources.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetHelpArticles.Impl.GetHelpArticlesRequest" assembly="Atlantis.Framework.GetHelpArticles.Impl.dll" request_type="79" lpc="0" ws_url="http://gdhelp.test.intranet.gdg/api/content" />
  <ConfigElement progid="Atlantis.Framework.LogOfferImpression.Impl.LogOfferImpressionRequest" assembly="Atlantis.Framework.LogOfferImpression.Impl.dll" request_type="91" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegRegisterPIIData.Impl.RegRegisterPIIDataRequest" assembly="Atlantis.Framework.RegRegisterPIIData.Impl.dll" request_type="115" lpc="0" ws_url="https://dtvapp.dev.glbt1.gdg/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DCCGetExpirationCount.Impl.DCCGetExpirationCountRequest" assembly="Atlantis.Framework.DCCGetExpirationCount.Impl.dll" request_type="120" lpc="0" ws_url="http://g1dwdsweb01.dev.glbt1.gdg/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.RegGetCAAgreement.Impl.RegGetCAAgreementRequest" assembly="Atlantis.Framework.RegGetCAAgreement.Impl.dll" request_type="123" lpc="0" ws_url="http://g1twregcheck01/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.PrivacyRenewalBasketXml.Impl.PrivacyRenewalBasketXmlRequest" assembly="Atlantis.Framework.PrivacyRenewalBasketXml.Impl.dll" request_type="131" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/wscgdDomainProtectionXML/wscgdDomainProtectionXML.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.SmartSpaceRenewalBasketXml.Impl.SmartSpaceRenewalBasketXmlRequest" assembly="Atlantis.Framework.SmartSpaceRenewalBasketXml.Impl.dll" request_type="138" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.RegCheckCaContacts.Impl.RegCheckCaContactsRequest" assembly="Atlantis.Framework.RegCheckCaContacts.Impl.dll" ws_url="http://g1twregcheck01/RegCaDataWebSvc/RegCaDataWebSvc.asmx" request_type="150" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGARequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="154" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGAAsyncRequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="155" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.MyaIsMirageCurrent.Impl.MyaIsMirageCurrentRequest" assembly="Atlantis.Framework.MyaIsMirageCurrent.Impl.dll" request_type="162" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeAdd.Impl.MktgSubscribeAddRequest" assembly="Atlantis.Framework.MktgSubscribeAdd.Impl.dll" request_type="169" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.TrafficPageEvent.Impl.TrafficPageEventRequest" assembly="Atlantis.Framework.TrafficPageEvent.Impl.dll" request_type="166" lpc="0" ws_url="http://sitetracking.dev.glbt1.gdg/fbiPageEventService/PageEventService.svc" />
  <ConfigElement progid="Atlantis.Framework.MyaProductSharedHosting.Impl.MyaProductSharedHostingRequest" assembly="Atlantis.Framework.MyaProductSharedHosting.Impl.dll" request_type="179" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaProductEmail.Impl.MyaProductEmailRequest" assembly="Atlantis.Framework.MyaProductEmail.Impl.dll" request_type="180" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaProductWST.Impl.MyaProductWSTRequest" assembly="Atlantis.Framework.MyaProductWST.Impl.dll" request_type="181" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MYAGetExpiringProductsDetail.Impl.MYAGetExpiringProductsDetailRequest" assembly="Atlantis.Framework.MYAGetExpiringProductsDetail.Impl.dll" request_type="194" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AuctionBidCloseOuts.Impl.AuctionBidCloseOutsRequest" assembly="Atlantis.Framework.AuctionBidCloseOuts.Impl.dll" request_type="214" lpc="0" ws_url="http://auctions.dev.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
  <ConfigElement progid="Atlantis.Framework.PrivacyAppInsertEmailAddress.Impl.PrivacyAppInsertEmailAddressRequest" assembly="Atlantis.Framework.PrivacyAppInsertEmailAddress.Impl.dll" request_type="232" lpc="0" ws_url="https://privacyapp.dev.glbt1.gdg/wscgdPrivacyApp/wscgdPrivacyApp.dll?Handler=Default">
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EmailMobileTemplate.Impl.EmailMobileTemplateRequest" assembly="Atlantis.Framework.EmailMobileTemplate.Impl.dll" request_type="248" lpc="0" ws_url="http://devgdmsg/MessagingDeliveryWS/MessagingDelivery.asmx" />
  <ConfigElement progid="Atlantis.Framework.FastballGetOffersMsgData.Impl.FastballGetOffersMsgDataRequest" assembly="Atlantis.Framework.FastballGetOffersMsgData.Impl.dll" request_type="250" lpc="0" ws_url="http://fbapp.test.glbt1.gdg/offersapi/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.FastballLogClick.Impl.FastballLogClickRequest" assembly="Atlantis.Framework.FastballLogClick.Impl.dll" request_type="255" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.ShopperPrefGet.Impl.ShopperPrefGetRequest" assembly="Atlantis.Framework.ShopperPrefGet.Impl.dll" request_type="261" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperPrefUpdate.Impl.ShopperPrefUpdateRequest" assembly="Atlantis.Framework.ShopperPrefUpdate.Impl.dll" request_type="271" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaProductPremiumDNS.Impl.MyaProductPremiumDNSRequest" assembly="Atlantis.Framework.MyaProductPremiumDNS.Impl.dll" request_type="276" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.RegGetDotTypeProductIdListRequest" assembly="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.dll" request_type="279" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.RegGetDotTypeRegistrarRequest" assembly="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.dll" request_type="281" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.PremiumDNS.Impl.GetPremiumDNSStatusRequest" assembly="Atlantis.Framework.PremiumDNS.Impl.dll" request_type="288" lpc="0" ws_url="http://dnsapi.dev.domaincontrol.com/webroot/dnsapi.php">
    <ConfigValue key="ClientId" value="gdmobile" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.PremiumDNS.Impl.GetPremiumDNSDefaultNameserversRequest" assembly="Atlantis.Framework.PremiumDNS.Impl.dll" request_type="289" lpc="0" ws_url="http://dnsapi.dev.domaincontrol.com/webroot/dnsapi.php">
    <ConfigValue key="ClientId" value="gdmobile" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OptInGetInfo.Impl.OptInGetInfoRequest" assembly="Atlantis.Framework.OptInGetInfo.Impl.dll" request_type="309" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.XmlHttpFileGet.Impl.XmlHttpFileGetRequest" assembly="Atlantis.Framework.XmlHttpFileGet.Impl.dll" request_type="310" lpc="1">
    <ConfigValue key="PresentationCentralMedia" value="http://presentationcentral.dev.glbt1.gdg/atlantis/media/" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OptInUpdateInfo.Impl.OptInUpdateInfoRequest" assembly="Atlantis.Framework.OptInUpdateInfo.Impl.dll" request_type="315" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.RegVendorDomainSearch.Impl.RegVendorDomainSearchRequest" assembly="Atlantis.Framework.RegVendorDomainSearch.Impl.dll" request_type="323" lpc="0" ws_url="http://g1dwlep001/gdDppSearch/gdDppSearchWS.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegVendorDomainSearch.Impl.RegVendorDomainSearchAsyncRequest" assembly="Atlantis.Framework.RegVendorDomainSearch.Impl.dll" request_type="330" lpc="0" ws_url="http://g1dwlep001/gdDppSearch/gdDppSearchWS.asmx" />
  <ConfigElement progid="Atlantis.Framework.FastballPromoBanners.Impl.FastballPromoBannersRequest" assembly="Atlantis.Framework.FastballPromoBanners.Impl.dll" request_type="331" lpc="0" ws_url="http://fbapp.dev.glbt1.gdg/offersapi/service.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotSpins.Impl.DomainsBotSpinsAsyncRequest" assembly="Atlantis.Framework.DomainsBotSpins.Impl.dll" request_type="350" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotSpins.Impl.DomainsBotSpinsRequest" assembly="Atlantis.Framework.DomainsBotSpins.Impl.dll" request_type="351" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.MyaMirageData.Impl.MyaMirageDataRequest" assembly="Atlantis.Framework.MyaMirageData.Impl.dll" request_type="386" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DocumentAttributes.Impl.DocumentAttributesRequest" assembly="Atlantis.Framework.DocumentAttributes.Impl.dll" request_type="393" lpc="0" ws_url="http://api.gdhelp.test.intranet.gdg/document" />
  <ConfigElement progid="Atlantis.Framework.CDS.Impl.CDSRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="424" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="CDS" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="522" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.UserAgentEx.Impl.UserAgentExRequest" assembly="Atlantis.Framework.UserAgentEx.Impl.dll" request_type="528" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.GadgetsVote.Impl.GadgetsVoteRequest" assembly="Atlantis.Framework.GadgetsVote.Impl.dll" request_type="529" lpc="0" ws_url="http://gadgets.dev.godaddy-com.ide/vote/JsonWebService.ashx" />
  <ConfigElement progid="Atlantis.Framework.AuthRetrieve.Impl.AuthRetrieveRequest" assembly="Atlantis.Framework.AuthRetrieve.Impl.dll" request_type="533" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WSgdSSOGet/RetrieveAuth.asmx">
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.PixelsGet.Impl.PixelsGetRequest" assembly="Atlantis.Framework.PixelsGet.Impl.dll" request_type="627" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeRegistry.Impl.RegDotTypeRegistryRequest" assembly="Atlantis.Framework.RegDotTypeRegistry.Impl.dll" request_type="639" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeProductIds.Impl.ProductIdListRequest" assembly="Atlantis.Framework.RegDotTypeProductIds.Impl.dll" request_type="640" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ActiveTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="635" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.CustomTLDGroupRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="636" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.OfferedTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="637" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCDomainsDataCache.Impl.TLDMLByNameRequest" assembly="Atlantis.Framework.DCCDomainsDataCache.Impl.dll" request_type="634" lpc="0" ws_url="https://regweb.dev.glbt1.gdg/DomainsDataCacheWebSvc/DomainsDataCache.asmx" />
  <ConfigElement progid="Atlantis.Framework.PixelsGetXML.Impl.PixelsGetXMLRequest" assembly="Atlantis.Framework.PixelsGetXML.Impl.dll" request_type="648" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DomainContactFields.Impl.DomainContactFieldsRequest" assembly="Atlantis.Framework.DomainContactFields.Impl.dll" request_type="651" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="655" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.CountryRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="664" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.StateRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="665" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.RegionRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="666" lpc="0" />

  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ExtendedTLDDataRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="668" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.ValidCountrySubdomainsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="673" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Language.Impl.LanguagePhraseRequest" assembly="Atlantis.Framework.Language.Impl.dll" request_type="681" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.SplitTesting.Impl.ActiveSplitTestsRequest" assembly="Atlantis.Framework.SplitTesting.Impl.dll" request_type="684" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.SplitTesting.Impl.ActiveSplitTestDetailsRequest" assembly="Atlantis.Framework.SplitTesting.Impl.dll" request_type="685" lpc="0" />

  <ConfigElement progid="Atlantis.Framework.CDS.Impl.ContentVersionRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="687" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="mobilesales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CDS.Impl.UrlWhitelistRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="688" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="mobilesales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyTypesRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="693" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.CDS.Impl.RoutingRulesRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="696" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="mobilesales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.IPCountryLookupRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="697" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DotTypeEoi.Impl.GeneralEoiJsonRequest" assembly="Atlantis.Framework.DotTypeEoi.Impl.dll" request_type="698" lpc="0" ws_url="http://g1dwregcheck01/regeoiwebsvc/regeoiwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DotTypeEoi.Impl.ShopperWatchListJsonRequest" assembly="Atlantis.Framework.DotTypeEoi.Impl.dll" request_type="703" lpc="0" ws_url="http://g1dwregcheck01/regeoiwebsvc/regeoiwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DotTypeEoi.Impl.AddToShopperWatchListRequest" assembly="Atlantis.Framework.DotTypeEoi.Impl.dll" request_type="704" lpc="0" ws_url="http://g1dwregcheck01/regeoiwebsvc/regeoiwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DotTypeEoi.Impl.RemoveFromShopperWatchListRequest" assembly="Atlantis.Framework.DotTypeEoi.Impl.dll" request_type="705" lpc="0" ws_url="http://g1dwregcheck01/regeoiwebsvc/regeoiwebsvc.asmx" />

  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ValidateNonOrderRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="644" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="657" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelDataRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="659" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="660" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.ProgIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="661" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelTypeRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="662" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.IsPrivateLabelActiveRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="663" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.CountryRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="664" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.StateRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="665" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.RegionRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="666" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Notices.Impl.MaintenanceNoticeRequest" assembly="Atlantis.Framework.Notices.Impl.dll" request_type="683" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Segmentation.Impl.ShopperSegmentRequest" assembly="Atlantis.Framework.Segmentation.Impl.dll" request_type="686" lpc="0">
    <ConfigValue key="DataSourceName" value="fastball.customertracking" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MyApplicationName" />
  </ConfigElement>

  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ListPriceRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="690" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PromoPriceRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="691" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ProductIsOnSaleRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="692" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyTypesRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="693" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.IPCountryLookupRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="697" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.MultiCurrencyContextsRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="707" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ValidateNonOrderRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="644" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="657" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx?WSDL">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupsOfferedRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="701" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductInfoRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="702" />
  <ConfigElement progid="Atlantis.Framework.DomainSearch.Impl.DomainSearchRequest" assembly="Atlantis.Framework.DomainSearch.Impl.dll" request_type="714" lpc="0" ws_url="http://g1dwlep001/findnameservice/v2/findname" />
  <ConfigElement progid="Atlantis.Framework.Geo.Impl.IPLocationLookupRequest" assembly="Atlantis.Framework.Geo.Impl.dll" request_type="719" />
  <ConfigElement progid="Atlantis.Framework.Language.Impl.CdsLanguageRequest" assembly="Atlantis.Framework.Language.Impl.dll" request_type="721" lpc="0" ws_url="http://cms.dev.glbt1.gdg/" />
  <ConfigElement progid="Atlantis.Framework.Support.Impl.SupportPhoneRequest" assembly="Atlantis.Framework.Support.Impl.dll" request_type="733" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DomainSearch.Impl.DomainSearchRequest" assembly="Atlantis.Framework.DomainSearch.Impl.dll" request_type="100714" lpc="0" ws_url="http://g1dwlep001/findnameservice/v1/findname" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySitesActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="725" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Brand.Impl.CompanyNameRequest" assembly="Atlantis.Framework.Brand.Impl.dll" request_type="726" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Brand.Impl.ProductLineNameRequest" assembly="Atlantis.Framework.Brand.Impl.dll" request_type="727" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.MarketsActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="729" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySiteMarketMappingsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="730" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Links.Impl.LinkInfoRequest" assembly="Atlantis.Framework.Links.Impl.dll" request_type="731" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="735" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="736" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="737">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile Sales" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="738" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="739" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.Shopper.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.Shopper.Impl.dll" request_type="740" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDPhaseDateListRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="744" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDProductDomainAttributesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="745" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DotTypeAvailability.Impl.DotTypeAvailabilityRequest" assembly="Atlantis.Framework.DotTypeAvailability.Impl.dll" request_type="753" ws_url="https://regcheck.dev.glbt1.gdg/TldAvailabilitySvc/TldAvailSvc.svc" />

  <ConfigElement progid="Atlantis.Framework.DotTypeForms.Impl.DotTypeFormsXmlRequest" assembly="Atlantis.Framework.DotTypeForms.Impl.dll" request_type="689" lpc="0" ws_url="https://tui.dev.int.secureserver.net" />
  <ConfigElement progid="Atlantis.Framework.DotTypeValidation.Impl.DotTypeValidationRequest" assembly="Atlantis.Framework.DotTypeValidation.Impl.dll" request_type="695" lpc="0" ws_url="https://dtvapp.dev.glbt1.gdg/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DotTypeForms.Impl.DotTypeFormsHtmlRequest" assembly="Atlantis.Framework.DotTypeForms.Impl.dll" request_type="709" lpc="0" ws_url="https://tui.dev.int.secureserver.net" />
  <ConfigElement progid="Atlantis.Framework.DotTypeClaims.Impl.DotTypeClaimsRequest" assembly="Atlantis.Framework.DotTypeClaims.Impl.dll" request_type="710" lpc="0" ws_url="https://tui.dev.int.secureserver.net" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.LanguagesByCountrySiteRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="716" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySitesActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="725" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.MarketsActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="729" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySiteMarketMappingsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="730" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountryCodeMarketIdsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="759" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />

</ConfigElements>
