<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.BasePages" version="4.13.11.18" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCache" version="14.2.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net45" />
  <package id="Atlantis.Framework.DotTypeClaims.Impl" version="4.14.1.7" targetFramework="net45" />
  <package id="Atlantis.Framework.DotTypeClaims.Interface" version="14.7.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.DotTypeValidation.Impl" version="4.14.1.8" targetFramework="net45" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.14.1.8" targetFramework="net45" />
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Localization.Interface" version="14.5.3.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Manager.Impl" version="4.13.11.12" targetFramework="net45" />
  <package id="Atlantis.Framework.Manager.Interface" version="4.13.11.25" targetFramework="net45" />
  <package id="Atlantis.Framework.MiniEncrypt" version="4.13.12.21" targetFramework="net45" />
  <package id="Atlantis.Framework.Nimitz" version="14.2.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Containers" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="14.5.21.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization" version="14.6.19.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.5.3.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Shopper" version="14.6.17.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Shopper.Interface" version="14.6.17.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.SsoAuth.Interface" version="14.7.16.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Shopper" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Shopper.Interface" version="14.6.2.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockEngine" version="14.1.16.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="14.6.5.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="14.4.4.2" targetFramework="net45" />
  <package id="Atlantis.Framework.TLDDataCache.Impl" version="14.5.28.1" targetFramework="net45" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="14.5.28.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Web.DynamicRouteHandler" version="4.13.11.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
</packages>