<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballGetOffersMsgData.Impl.FastballGetOffersMsgDataRequest" assembly="Atlantis.Framework.FastballGetOffersMsgData.Impl.dll" request_type="250" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
  <!--<ConfigElement progid="Atlantis.Framework.FastballGetOffersMsgData.Impl.FastballGetOffersMsgDataRequest" assembly="Atlantis.Framework.FastballGetOffersMsgData.Impl.dll" request_type="250" lpc="0" ws_url="http://fastball.prod.mesa1.gdg/OffersAPI/service.asmx" />-->
</ConfigElements>
