<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.ValidCountrySubdomainsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="673" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.LanguagesByCountrySiteRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="716" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySitesActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="725" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.MarketsActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="729" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySiteMarketMappingsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="730" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountryCodeMarketIdsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="759" />
</ConfigElements>
