<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.GetUserProfileByShopperID.Impl.GetUserProfileByShopperIDRequest" assembly="Atlantis.Framework.GetUserProfileByShopperID.Impl.dll" request_type="73" lpc="0" ws_url="http://www.dev.commonprofile-com.ide/UserProfile.asmx" />
</ConfigElements>