<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegVendorDomainSearch.Impl.RegVendorDomainSearchRequest" assembly="Atlantis.Framework.RegVendorDomainSearch.Impl.dll" request_type="323" lpc="0" ws_url="http://g1twlep001/gdDppSearch/gdDppSearchWS.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegVendorDomainSearch.Impl.RegVendorDomainSearchAsyncRequest" assembly="Atlantis.Framework.RegVendorDomainSearch.Impl.dll" request_type="330" lpc="0" ws_url="http://g1twlep001/gdDppSearch/gdDppSearchWS.asmx" />
</ConfigElements>
