<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement dottype="AG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotAg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Antigua and Barbuda residents." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="AM" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotAm" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Residents of Armenia, we've got your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ASIA" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotAsia" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Reach the growing Asian market." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/asia.aspx" />
  </ConfigElement>
  <ConfigElement dottype="AT" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotAt" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Austrians, this is your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="BE" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotBe" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The only domain that says Belgium." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="BIZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotBiz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain that means business." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/biz.aspx" />
  </ConfigElement>
  <ConfigElement dottype="BZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotBz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Get the Buzz on .BZ with the Official TLD of Belize." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/bz.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CA" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCa" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Canada." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/ca.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="There's only one domain for the Cocos Islands - .cc." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The two-letter domain that says China." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CO" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCo" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Global, credible and recognizable!" />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co-domain.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CO.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCoDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Perfect for launching your online business in India." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CO.NZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCoDotNz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The perfect domain for your New Zealand business." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="CO.UK" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCoDotUk" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll" multi_registrar="1">
    <ConfigValue key="Description" value="The perfect domain for U.K.-based businesses." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co-uk.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotCom" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The most popular domain! Do you have yours?" />
    <ConfigValue key="LandingPageUrl" value="~/tlds/com.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.AG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotAg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Antigua and Barbuda businesses." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.AU" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotAu" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Australia businesses." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.BR" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotBr" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Reach out to millions of potential customers in Brazil." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.BZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotBz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Protect your Belize brand with this domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/bz.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.CN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotCn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Have business interests in China? This is your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.CO" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotCo" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for commercial interests in Colombia." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.ES" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotEs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="This domain means business in Spain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.MX" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotMx" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The official domain for Mexico businesses." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/mx.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.SC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotSc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="COM.TW" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotComDotTw" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Taiwanese commercial ventures." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="DE" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotDe" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Achtung! Act now to get the German domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ES" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotEs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="All-purpose domain for sites aimed at Spanish-speakers." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="EU" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotEu" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="THE domain for the European community." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/eu.aspx" />
  </ConfigElement>
  <ConfigElement dottype="FIRM.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotFirmDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Connect with local Indian residents and consumers." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="FM" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotFm" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain for all the islands of Micronesia." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="FR" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotFr" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Connect with your French audience." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="GEN.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotGenDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Expand your Web presence in India." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="GS" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotGs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for South Georgia and the South Sandwich Islands." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="IDV.TW" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotIdvDotTw" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Individuals in Taiwan will want this domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Connect to the millions of Indian residents online." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="IND.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotIndDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Indian residents, get your own personal corner of the Web." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="INFO" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotInfo" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Put your information on the Web." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/info.aspx" />
  </ConfigElement>
  <ConfigElement dottype="IT" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotIt" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Family or business in Italy? This is your domain!" />
    <ConfigValue key="LandingPageUrl" value="~/tlds/it-domain.aspx" />
  </ConfigElement>
  <ConfigElement dottype="JOBS" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotJobs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Give job seekers a direct line to your business." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/jobs.aspx" />
  </ConfigElement>
  <ConfigElement dottype="JP" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotJp" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Japan, this is your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ME" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotMe" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain that's all about YOU." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/me.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ME.UK" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotMeDotUk" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll" multi_registrar="1">
    <ConfigValue key="Description" value="The personal domain for the British." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co-uk.aspx" />
  </ConfigElement>
  <ConfigElement dottype="MOBI" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotMobi" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Give customers on-the-go access to your site." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/mobi.aspx" />
  </ConfigElement>
  <ConfigElement dottype="MS" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotMs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Live in the Leeward Islands? This domain is for you." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="MX" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotMx" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The official domain for Mexico." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/mx.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NAME" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotName" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Your name on the Internet? It's easy." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNet" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The perfect complement to a .COM." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/net.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.AG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotAg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain option for residents of Antigua and Barbuda." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.AU" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotAu" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain option for residents of Australia." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.BR" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotBr" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Create a uniquely Brazilian web presence." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.BZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotBz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The perfect domain for a Belize business." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/bz.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.CN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotCn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A perfect domain for protecting your Chinese brand." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.CO" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotCo" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for residents of Colombia." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Protect your Indian domain against copycats." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.NZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotNz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Protect your New Zealand brand with this domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NET.SC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNetDotSc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NL" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNl" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The Official domain of the Netherlands." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NOM.CO" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNomDotCo" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The Colombian domain with your name on it." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NOM.ES" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNomDotEs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="This Spanish domain has your name in it." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="NU" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotNu" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A domain for the island nation of Niue." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Perfect for your non-profit." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/org.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.AG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotAg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Antigua and Barbuda organizations." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.AU" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotAu" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Australia organizations." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.CN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotCn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Now organizations in China have their own domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.ES" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotEs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Perfect for clubs or organizations with Spanish values." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.IN" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotIn" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Create a site for your Indian organization or group." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/in.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.NZ" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotNz" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Perfect for any New Zealand-based organization." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.SC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotSc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.TW" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotTw" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Have an organization in Taiwan? This is your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="ORG.UK" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotOrgDotUk" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll" multi_registrar="1">
    <ConfigValue key="Description" value="Have an organization in the U.K.? We have your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/co-uk.aspx" />
  </ConfigElement>
  <ConfigElement dottype="SC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotSc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="SE" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotSe" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Reach out to family, friends and customers in Sweden." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="TC" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotTc" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain for Turks and Caicos Islands residents." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="TK" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotTk" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="URL too long? Rename your site with the domain for Tokelau." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="TV" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotTv" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="A popular domain for multimedia websites." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/tv.aspx" />
  </ConfigElement>
  <ConfigElement dottype="TW" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotTw" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="The domain that means Taiwan." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="US" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotUs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Get your hands on the all-American domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/us.aspx" />
  </ConfigElement>
  <ConfigElement dottype="VG" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotVg" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="Virgin Island residents, this is your domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/international-domain-names.aspx" />
  </ConfigElement>
  <ConfigElement dottype="WS" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotWs" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="An all-purpose website domain." />
    <ConfigValue key="LandingPageUrl" value="~/tlds/ws.aspx" />
  </ConfigElement>
  <ConfigElement dottype="XXX" progid="Atlantis.Framework.DotTypeCache.StaticTypes.DotXxx" assembly="Atlantis.Framework.DotTypeCache.StaticTypes.dll">
    <ConfigValue key="Description" value="For all of your adult needs" />
    <ConfigValue key="LandingPageUrl" value="~/tlds/xxx-domain.aspx" />
  </ConfigElement>
</ConfigElements>