<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionConfirmBuyNow.Impl.AuctionConfirmBuyNowRequest" assembly="Atlantis.Framework.AuctionConfirmBuyNow.Impl.dll" request_type="364" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpBiddingService.asmx?op=ConfirmBuyNow" />
</ConfigElements>