<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ExpressCheckoutDelete.Impl.ExpressCheckoutDeleteRequest" assembly="Atlantis.Framework.ExpressCheckoutDelete.Impl.dll" request_type="174" lpc="0">
    <ConfigValue key="DataSourceName" value="Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>