<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelDataRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="659" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Brand.Impl.CompanyNameRequest" assembly="Atlantis.Framework.Brand.Impl.dll" request_type="726" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Brand.Impl.ProductLineNameRequest" assembly="Atlantis.Framework.Brand.Impl.dll" request_type="727" lpc="0" />
</ConfigElements>