<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Atlantis.Framework.GetPayeeProfile.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.GetPayeeProfile.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_GetPayeeProfile_Impl_PayeeProfileWS_WSCgdCAPService" serializeAs="String">
                <value>https://customerap.dev.glbt1.gdg:443/WSCgdCAP/WSCgdCAP.dll?Handler=Default</value>
            </setting>
            <setting name="Atlantis_Framework_GetPayeeInformation_Impl_PayeeProfileWS_WSCgdCAPService" serializeAs="String">
                <value>https://customerap.dev.glbt1.gdg:443/WSCgdCAP/WSCgdCAP.dll?Handler=Default</value>
            </setting>
        </Atlantis.Framework.GetPayeeProfile.Impl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
