<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaCurrentProductGroups.Impl.MyaCurrentProductGroupsRequest" assembly="Atlantis.Framework.MyaCurrentProductGroups.Impl.dll" request_type="163" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaCurrentProductGroups.Impl.MyaCurrentProductGroupsRequest" assembly="Atlantis.Framework.MyaCurrentProductGroups.Impl.dll" request_type="9163" lpc="0" >
    <ConfigValue key="DataSourceName" value="Godaddy_reporting_ro" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
