<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeClaims.Impl" version="4.14.1.7" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeClaims.Interface" version="14.7.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Impl" version="14.9.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Interface" version="14.9.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Impl" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Localization.Interface" version="14.5.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.2.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DomainContactValidation.Interface" version="4.14.5.29" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="14.5.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization" version="14.6.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="14.5.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
</packages>