<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Engine.Tests.MockTriplet.ConfigTestRequest1" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9999" lpc="0">
    <ConfigValue key="value1" value="TestValue1" />
    <ConfigValue key="value2" value="TestValue2" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.Engine.Tests.MockTriplet.ConfigTestRequest2" assembly="Atlantis.Framework.Engine.Tests.dll" request_type="9998" lpc="1" ws_url="blahblah" />
</ConfigElements>
