<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetShopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.GetShopper.Impl.dll" request_type="1" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.SearchShoppers.Impl.SearchShoppersRequest" assembly="Atlantis.Framework.SearchShoppers.Impl.dll" request_type="2" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="3" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DeleteItem.Impl.DeleteItemRequest" assembly="Atlantis.Framework.DeleteItem.Impl.dll" request_type="5" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasket.Impl.GetBasketRequest" assembly="Atlantis.Framework.GetBasket.Impl.dll" request_type="7" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartAsyncRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="8" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.CustomContent.Impl.CustomContentRequest" assembly="Atlantis.Framework.CustomContent.Impl.dll" request_type="9" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BannerContent.Impl.BannerContentRequest" assembly="Atlantis.Framework.BannerContent.Impl.dll" request_type="10" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetPlanFeatures.Impl.GetPlanFeatures" assembly="Atlantis.Framework.GetPlanFeatures.Impl.dll" request_type="11" lpc="1" ws_url="http://devgdbonsai/Bonsai/Internal/CommerceHelper.asmx" />
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ProductGroup.Impl.ProductGroupRequest" assembly="Atlantis.Framework.ProductGroup.Impl.dll" request_type="13" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="14" lpc="0" ws_url="http://g1twregcheck01/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="15" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="16" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="17" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="18" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.Backorder.Impl.BackorderAsyncRequest" assembly="Atlantis.Framework.Backorder.Impl.dll" request_type="19" lpc="0" ws_url="http://g1twregcheck01/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsAsyncRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="20" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.DomainCheck.Impl.DomainCheckAsyncRequest" assembly="Atlantis.Framework.DomainCheck.Impl.dll" request_type="21" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotAsyncRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="22" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.FabDomains.Impl.FabDomainsAsyncRequest" assembly="Atlantis.Framework.FabDomains.Impl.dll" request_type="23" lpc="0" ws_url="http://test.api.fabulousdomains.com/search?username=godaddy1" />
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetOverrideHash.Impl.GetOverrideHashRequest" assembly="Atlantis.Framework.GetOverrideHash.Impl.dll" request_type="26" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetDurationHash.Impl.GetDurationHashRequest" assembly="Atlantis.Framework.GetDurationHash.Impl.dll" request_type="27" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.CreateShopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.CreateShopper.Impl.dll" request_type="28" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="29" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlAsyncRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="30" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactCheck.Impl.DomainContactCheckRequest" assembly="Atlantis.Framework.DomainContactCheck.Impl.dll" request_type="31" lpc="0" ws_url="http://g1twregcheck01/RegContactValidationWebSvc/ContactValidationService.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="32" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferAsyncRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="33" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetBasketPrice.Impl.GetBasketPriceRequest" assembly="Atlantis.Framework.GetBasketPrice.Impl.dll" request_type="34" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DataProvider.Impl.DataProviderRequest" assembly="Atlantis.Framework.DataProvider.Impl.dll" request_type="35" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="36" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceAsyncRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="37" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckRequest" assembly="Atlantis.Framework.NameserverCheck.Impl.dll" request_type="40" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.AddCommercialVote.Impl.AddCommercialVoteAsyncRequest" assembly="Atlantis.Framework.AddCommercialVote.Impl.dll" request_type="42" lpc="0" ws_url="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="45" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBotDatabase.Impl.DomainsBotDatabaseAsyncRequest" assembly="Atlantis.Framework.DomainsBotDatabase.Impl.dll" request_type="46" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact3.asmx" />
  <ConfigElement progid="Atlantis.Framework.ClearBasket.Impl.ClearBasketRequest" assembly="Atlantis.Framework.ClearBasket.Impl.dll" request_type="50" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.TransferBasket.Impl.TransferBasketRequest" assembly="Atlantis.Framework.TransferBasket.Impl.dll" request_type="51" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.VerifyShopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.VerifyShopper.Impl.dll" request_type="63" lpc="0"/>
  <ConfigElement progid="Atlantis.Framework.BazaarLinks.Impl.BazaarLinksRequest" assembly="Atlantis.Framework.BazaarLinks.Impl.dll" request_type="70" lpc="0" ws_url="http://g1dwproxima01:9002/BazaarResources.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetFeaturedDiscussions.Impl.GetFeaturedDiscussionsRequest" assembly="Atlantis.Framework.GetFeaturedDiscussions.Impl.dll" request_type="72" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetUserProfileByShopperID.Impl.GetUserProfileByShopperIDRequest" assembly="Atlantis.Framework.GetUserProfileByShopperID.Impl.dll" request_type="73" lpc="0" ws_url="http://www.dev.commonprofile-com.ide/UserProfile.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetDiscussion.Impl.GetDiscussionRequest" assembly="Atlantis.Framework.GetDiscussion.Impl.dll" request_type="74" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.CreateIncidentInIRIS.Impl.CreateIncidentInIRISRequest" assembly="Atlantis.Framework.CreateIncidentInIRIS.Impl.dll" request_type="75" lpc="0" ws_url="https://iris-ws.dev.godaddy-com.ide/iris/IrisWebservice.asmx" />
  <ConfigElement progid="Atlantis.Framework.SearchDiscussions.Impl.SearchDiscussionsRequest" assembly="Atlantis.Framework.SearchDiscussions.Impl.dll" request_type="76" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
  <ConfigElement progid="Atlantis.Framework.SearchHelp.Impl.SearchHelpRequest" assembly="Atlantis.Framework.SearchHelp.Impl.dll" request_type="77" lpc="0" ws_url="http://search-v01.prod.mesa1.gdg/search" />
  <ConfigElement progid="Atlantis.Framework.GetBazaarAccount.Impl.GetBazaarAccountRequest" assembly="Atlantis.Framework.GetBazaarAccount.Impl.dll" request_type="78" lpc="0" ws_url="http://g1dwproxima01:9002/BazaarResources.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetHelpArticles.Impl.GetHelpArticlesRequest" assembly="Atlantis.Framework.GetHelpArticles.Impl.dll" request_type="79" lpc="0" ws_url="http://gdhelp.test.intranet.gdg/api/content" />
  <ConfigElement progid="Atlantis.Framework.Document.Impl.DocumentRequest" assembly="Atlantis.Framework.Document.Impl.dll" request_type="58" lpc="0" ws_url="http://www.dev.documents.secureserver.net/d3s/d3s.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetDomainInfo.Impl.GetDomainInfoRequest" assembly="Atlantis.Framework.GetDomainInfo.Impl.dll" request_type="93" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.RegRegisterPIIData.Impl.RegRegisterPIIDataRequest" assembly="Atlantis.Framework.RegRegisterPIIData.Impl.dll" request_type="115" lpc="0" ws_url="https://g1dwdtvapp01.dc1.corp.gd/RegAppTokenWebSvc/RegAppTokenWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.EventGetServicesList.Impl.EventGetServicesListRequest" assembly="Atlantis.Framework.EventGetServicesList.Impl.dll" request_type="117" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
  <ConfigElement progid="Atlantis.Framework.EventGetAllActiveEvents.Impl.EventGetAllActiveEventsRequest" assembly="Atlantis.Framework.EventGetAllActiveEvents.Impl.dll" request_type="118" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetExpirationCount.Impl.DCCGetExpirationCountRequest" assembly="Atlantis.Framework.DCCGetExpirationCount.Impl.dll" request_type="120" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.RegGetCAAgreement.Impl.RegGetCAAgreementRequest" assembly="Atlantis.Framework.RegGetCAAgreement.Impl.dll" request_type="123" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainByShopper.Impl.DCCGetDomainByShopperRequest" assembly="Atlantis.Framework.DCCGetDomainByShopper.Impl.dll" request_type="100" lpc="0" ws_url="http://devdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.LogDomainSearchResults.Impl.LogDomainSearchResultsRequest" assembly="Atlantis.Framework.LogDomainSearchResults.Impl.dll" request_type="130" lpc="0" ws_url="http://devciaapp01/fbiVisitDomainService/VisitDomainService.asmx"/>
  <ConfigElement progid="Atlantis.Framework.RegGetCAProfileData.Impl.RegGetCAProfileDataRequest" assembly="Atlantis.Framework.RegGetCAProfileData.Impl.dll" request_type="124" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.RegCAValidateProfileData.Impl.RegCAValidateProfileDataRequest" assembly="Atlantis.Framework.RegCAValidateProfileData.Impl.dll" request_type="133" lpc="0" ws_url="http://testregchk1/RegCaDataWebSvc/RegCaDataWebSvc.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.RegIsValidXN.Impl.RegIsValidXNRequest" assembly="Atlantis.Framework.RegIsValidXN.Impl.dll" request_type="132" lpc="0" ws_url="http://g1twregcheck01/RegIDNCheckerWebSvc/RegIDNCheckerWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegRegistryPartnersData.Impl.RegRegistryPartnersDataRequest" assembly="Atlantis.Framework.RegRegistryPartnersData.Impl.dll" request_type="134" lpc="0" ws_url="https://g1dwdtvapp01.dc1.corp.gd/RegistryPartnersDataWebSvc/RegistryPartnersData.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.MessagingProcess.Impl.MessagingProcessRequest" assembly="Atlantis.Framework.MessagingProcess.Impl.dll" request_type="66" lpc="0" ws_url="http://devgdmsg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberAdd.Impl.BPBlogSubscriberAddRequest" assembly="Atlantis.Framework.BPBlogSubscriberAdd.Impl.dll" request_type="139" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberQuery.Impl.BPBlogSubscriberQueryRequest" assembly="Atlantis.Framework.BPBlogSubscriberQuery.Impl.dll" request_type="140" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.RegCheckCaContacts.Impl.RegCheckCaContactsRequest" assembly="Atlantis.Framework.RegCheckCaContacts.Impl.dll" ws_url="http://g1twregcheck01/RegCaDataWebSvc/RegCaDataWebSvc.asmx" request_type="150" lpc="0" />
</ConfigElements>
