<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ECCGetOFFPlanInfo.Impl.ECCGetOFFPlanInfoRequest" assembly="Atlantis.Framework.ECCGetOFFPlanInfo.Impl.dll" request_type="290" lpc="0" ws_url="http://eccapi.devlhvm03.stgwbe.com/index.php?wsdl">
    <ConfigValue key="DataSourceName" value="corp.web.mya.ecc.api" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="GoDaddy Mobile" />
  </ConfigElement>
</ConfigElements>