<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.GetMobileToken.Impl.GetMobileTokenRequest" assembly="Atlantis.Framework.GetMobileToken.Impl.dll" request_type="84" lpc="0" ws_url="https://mob.dev.godaddy-com.ide/csa/service.asmx"></ConfigElement>
</ConfigElements>
