<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionConfirmCounterOffer.Impl.AuctionConfirmCounterOfferRequest" assembly="Atlantis.Framework.AuctionConfirmCounterOffer.Impl.dll" request_type="375" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpBiddingService.asmx?op=ConfirmCounterOffer" />
</ConfigElements>