<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.MobileSaveSecurityAgreement.Impl.MobileSaveSecurityAgreementRequest" assembly="Atlantis.Framework.MobileSaveSecurityAgreement.Impl.dll" request_type="244" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
