<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommCancelResource.Impl.EcommCancelResourceRequest" assembly="Atlantis.Framework.EcommCancelResource.Impl.dll" request_type="165" lpc="0" ws_url="http://cancellation.dev.glbt1.gdg/wscgdCancellation/wscgdCancellation.dll?Handler=Default"/>

  <!-- 
  *** TEST ***
  <ConfigElement progid="Atlantis.Framework.EcommCancelResource.Impl.EcommCancelResourceRequest" assembly="Atlantis.Framework.EcommCancelResource.Impl.dll" request_type="165" lpc="0" ws_url="http://cancellation.test.glbt1.gdg/wscgdCancellation/wscgdCancellation.dll?Handler=Default"/>

  *** PROD ***
  <ConfigElement progid="Atlantis.Framework.EcommCancelResource.Impl.EcommCancelResourceRequest" assembly="Atlantis.Framework.EcommCancelResource.Impl.dll" request_type="165" lpc="0" ws_url="http://cancellation.prod.mesa1.gdg/wscgdCancellation/wscgdCancellation.dll?Handler=Default"/> -->
</ConfigElements>
