<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.SiteAdminRoles.Impl.SiteAdminRolesRequest" assembly="Atlantis.Framework.SiteAdminRoles.Impl.dll" request_type="222" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.atlantisframework" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="siteadmin" />
  </ConfigElement>
</ConfigElements>
