<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionBidCloseOuts.Impl.AuctionBidCloseOutsRequest" assembly="Atlantis.Framework.AuctionBidCloseOuts.Impl.dll" request_type="214" lpc="0" ws_url="http://auctions.dev.godaddy-com.ide/gdAuctionsWS/GdAuctionsBiddingWS.asmx" />
</ConfigElements>
