<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>

  <ConfigElement progid="Atlantis.Framework.PremiumDNS.Impl.GetPremiumDNSStatusRequest" assembly="Atlantis.Framework.PremiumDNS.Impl.dll" request_type="288" lpc="0" ws_url="http://dnsapi.dev.domaincontrol.com/webroot/dnsapi.php">
    <ConfigValue key="ClientId" value="gdmobile" />
  </ConfigElement>

  <ConfigElement progid="Atlantis.Framework.PremiumDNS.Impl.GetPremiumDNSDefaultNameserversRequest" assembly="Atlantis.Framework.PremiumDNS.Impl.dll" request_type="289" lpc="0" ws_url="http://dnsapi.dev.domaincontrol.com/webroot/dnsapi.php">
    <ConfigValue key="ClientId" value="gdmobile" />
  </ConfigElement>

</ConfigElements>