<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommInstoreBalance.Impl.EcommInstoreBalanceRequest" assembly="Atlantis.Framework.EcommInstoreBalance.Impl.dll" request_type="481" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.InStoreCredit_ro" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
