<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CostcoGetMemberInfo.Impl.CostcoGetMemberInfoRequest" assembly="Atlantis.Framework.CostcoGetMemberInfo.Impl.dll" request_type="368" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WSgdCostco/Service1.asmx" >
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>

</ConfigElements>