<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.HCCGet404ErrorBehavior.Impl.HCCGet404ErrorBehaviorRequest" assembly="Atlantis.Framework.HCCGet404ErrorBehavior.Impl.dll" request_type="335" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>