<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetShopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.GetShopper.Impl.dll" request_type="1" lpc="0" ws_url="http://testsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.MessagingProcess.Impl.MessagingProcessRequest" assembly="Atlantis.Framework.MessagingProcess.Impl.dll" request_type="66" lpc="0" ws_url="http://testgdmsg01/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.test.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DataProvider.Impl.DataProviderRequest" assembly="Atlantis.Framework.DataProvider.Impl.dll" request_type="35" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PurchaseEmail.Impl.PurchaseEmailRequest" assembly="Atlantis.Framework.PurchaseEmail.Impl.dll" request_type="83" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GetPaymentProfiles.Impl.GetPaymentProfilesRequest" assembly="Atlantis.Framework.GetPaymentProfiles.Impl.dll" request_type="59" lpc="0" ws_url="http://gdcomm.test.glbt1.gdg/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetPaymentProfileAlternate.Impl.GetPaymentProfileAlternateRequest" assembly="Atlantis.Framework.GetPaymentProfileAlternate.Impl.dll" request_type="381" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.cart.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.cart.test.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements>
