<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings">
            <section name="Atlantis.Framework.AuctionRecommendations.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Atlantis.Framework.AuctionRecommendations.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_AuctionRecommendations_Impl_gdAuctionsLeprechaunWS_gdAuctionsLeprechaunWS"
                serializeAs="String">
                <value>http://g1dwlep001/gdauctionsleprechaunws/gdauctionsleprechaunws.asmx</value>
            </setting>
        </Atlantis.Framework.AuctionRecommendations.Impl.Properties.Settings>
    </applicationSettings>
</configuration>