<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="32" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainTransfer.Impl.DomainTransferAsyncRequest" assembly="Atlantis.Framework.DomainTransfer.Impl.dll" request_type="33" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
</ConfigElements>
