<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  
  
  
  
<ConfigElement progid="Atlantis.Framework.CDS.Impl.CDSRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="424" ws_url="http://cms.dev.glbt1.gdg/" /><ConfigElement progid="Atlantis.Framework.CDS.Impl.ContentVersionRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="687" ws_url="http://cms.dev.glbt1.gdg/" /><ConfigElement progid="Atlantis.Framework.CDS.Impl.UrlWhitelistRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="688" ws_url="http://cms.dev.glbt1.gdg/" /><ConfigElement progid="Atlantis.Framework.CDS.Impl.RoutingRulesRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="696" ws_url="http://cms.dev.glbt1.gdg/" /></ConfigElements>