<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.CDS.Impl" version="14.1.22.2" targetFramework="net40" />
  <package id="Atlantis.Framework.CDS.Interface" version="14.1.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Conditions.Interface" version="4.13.10.12" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.1.22.4" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.CDSContent" version="14.1.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.CDSContent.Interface" version="14.1.23.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Containers" version="4.14.1.6" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.13.12.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Links.Interface" version="4.13.11.6" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.PlaceHolder.Interface" version="14.1.23.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="4.13.10.16" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.Containers" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.ContentInjection" version="4.13.10.16" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.ExpressionParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.MarkupParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Tokens.Interface" version="4.13.11.18" targetFramework="net40" />
  <package id="Atlantis.Framework.Web.RenderPipeline" version="4.13.12.11" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
</packages>