<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="238" lpc="0" ws_url="http://gddutil.dev.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoAsyncRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="239" lpc="0" ws_url="http://gddutil.dev.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>

  <!--
  DEV:
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="238" lpc="0" ws_url="http://gddutil.dev.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoAsyncRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="239" lpc="0" ws_url="http://gddutil.dev.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  
  TEST:
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="238" lpc="0" ws_url="http://gddutil.test.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoAsyncRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="239" lpc="0" ws_url="http://gddutil.test.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  
  OTE:
  
  
  PROD:
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="238" lpc="0" ws_url="http://gddutil.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainRankInfo.Impl.DCCGetDomainRankInfoAsyncRequest" assembly="Atlantis.Framework.DCCGetDomainRankInfo.Impl.dll" request_type="239" lpc="0" ws_url="http://gddutil.intranet.gdg/WebScoreBossWebSvc/WebScoreBossWebSvc.asmx"/>
  
  -->
</ConfigElements>
