<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MYAGetExpiringProductsDetail.Impl.MYAGetExpiringProductsDetailRequest" assembly="Atlantis.Framework.MYAGetExpiringProductsDetail.Impl.dll" request_type="194" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="sales" />
  </ConfigElement>
</ConfigElements>
