<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGARequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="16" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
    <ConfigElement progid="Atlantis.Framework.DomainCheckGA.Impl.DomainCheckGAAsyncRequest" assembly="Atlantis.Framework.DomainCheckGA.Impl.dll" request_type="21" lpc="0" ws_url="http://g1dwregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />
</ConfigElements>
