<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.LogOfferImpression.Impl.LogOfferImpressionRequest" assembly="Atlantis.Framework.LogOfferImpression.Impl.dll" request_type="91" lpc="0" ws_url="http://devciaapp01/fbiSmartOffers/SmartOffers.asmx" />
</ConfigElements>