<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EventGetServicesList.Impl.EventGetServicesListRequest" assembly="Atlantis.Framework.EventGetServicesList.Impl.dll" request_type="117" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
</ConfigElements>
