<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySitesActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="725" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.MarketsActiveRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="729" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.CountrySiteMarketMappingsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="730" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Links.Impl.LinkInfoRequest" assembly="Atlantis.Framework.Links.Impl.dll" request_type="731" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.ValidCountrySubdomainsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="673" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.Impl.LanguagesByCountrySiteRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="716" />
</ConfigElements> 
