<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.MockImpl.MockCountrySitesActiveRequest" assembly="Atlantis.Framework.Localization.MockImpl.dll" request_type="725" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.MockImpl.MockMarketsActiveRequest" assembly="Atlantis.Framework.Localization.MockImpl.dll" request_type="729" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Localization.MockImpl.MockCountrySiteMarketMappingsRequest" assembly="Atlantis.Framework.Localization.MockImpl.dll" request_type="730" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Links.MockImpl.MockLinkInfoRequest" assembly="Atlantis.Framework.Links.MockImpl.dll" request_type="731" lpc="1" />
</ConfigElements> 
