<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.GetDiscussion.Impl.GetDiscussionRequest" assembly="Atlantis.Framework.GetDiscussion.Impl.dll" request_type="74" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
</ConfigElements>