<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.DotTypeCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeForms.Interface" version="14.9.3.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.3.1.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.DomainContactValidation.Interface" version="4.14.5.29" targetFramework="net40" />
  <package id="Atlantis.Framework.TLDDataCache.Interface" version="14.5.28.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
</packages>