<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelDataRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="659" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="660" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.ProgIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="661" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelTypeRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="662" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.IsPrivateLabelActiveRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="663" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCache.Tests.Mocks.MockCachedTripletRequest" assembly="Atlantis.Framework.DataCache.Tests.dll" request_type="111972" lpc="0" />
<ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="522" lpc="0" /></ConfigElements>
