<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthVerify.Impl.AuthVerifyRequest" assembly="Atlantis.Framework.AuthVerify.Impl.dll" request_type="209" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AuthVerify.Impl.AuthVerifyRequest" assembly="Atlantis.Framework.AuthVerify.Impl.dll" request_type="1209" lpc="0" ws_url="http://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
</ConfigElements>
