<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthRetrieve.Impl.AuthRetrieveRequest" assembly="Atlantis.Framework.AuthRetrieve.Impl.dll" request_type="533" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WSgdSSOGet/RetrieveAuth.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>