<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.ChangeAccount.Impl.ChangeAccountRequest" assembly="Atlantis.Framework.ChangeAccount.Impl.dll" request_type="77" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
</ConfigElements>
