<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CreateShopper.Impl.CreateShopperRequest" assembly="Atlantis.Framework.CreateShopper.Impl.dll" request_type="28" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
</ConfigElements>
