<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeRemove.Impl.MktgSubscribeRemoveRequest" assembly="Atlantis.Framework.MktgSubscribeRemove.Impl.dll" request_type="282" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
</ConfigElements>
