<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.InstantStoreImages.Impl.InstantStoreImagesRequest"
                 assembly="Atlantis.Framework.InstantStoreImages.Impl.dll"
                 request_type="292" lpc="0"
                 ws_url="http://services.test.simplesite-me.ide/quicksetup.asmx?wsdl">
    <ConfigValue key="DataSourceName" value="InstantPage.API" />
    <ConfigValue key="CertificateName" value="simplesite.test.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="InstantPage" />
  </ConfigElement>
</ConfigElements>