<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="4.13.9.25" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.11.4" targetFramework="net45" />
  <package id="Atlantis.Framework.Support.Interface" version="4.13.9.6" targetFramework="net45" />
</packages>