<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.dev.sdl1.gdg/RequestBroker/Service.asmx"/>
  
  <!--
  DEV:
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.dev.sdl1.gdg/RequestBroker/Service.asmx"/>
 
  TEST:
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.test.glbt1.gdg/RequestBroker/Service.asmx"/>
  
  OTE: (Unknown)
  
  PROD:
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.prod.phx3.gdg/RequestBroker/Service.asmx"/>

  -->
</ConfigElements>
