<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommPaymentProfileUnique.Impl.EcommPaymentProfileUniqueRequest" assembly="Atlantis.Framework.EcommPaymentProfileUnique.Impl.dll" request_type="345" lpc="0" ws_url="https://ecommrestricted.dev.intranet.gdg/WSgdECommRestricted/Service1.asmx">
    <ConfigValue key="CertificateName" value="corp.web.cart.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Cart" />
  </ConfigElement>
</ConfigElements>
