<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MYAGetProduct.Impl.MYAGetProductRequest" assembly="Atlantis.Framework.MYAGetProduct.Impl.dll" request_type="122" lpc="0">
    <ConfigValue key="GD_DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="MA_DataSourceName" value="corp.web.mya.MerchantAccounts" />
    <ConfigValue key="TB_DataSourceName" value="corp.web.mya.trafficBlazerApp" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />    
  </ConfigElement>
</ConfigElements>