<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.OutreachDetailActivityMulti.Impl.OutreachDetailActivityMultiRequest" assembly="Atlantis.Framework.OutreachDetailActivityMulti.Impl.dll" request_type="164" lpc="0" ws_url="http://svc.e.marketing.dev.intranet-gdg.ide/MyaService.asmx"/>
</ConfigElements>
