<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="36" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.SurveyService.Impl.SurveyServiceAsyncRequest" assembly="Atlantis.Framework.SurveyService.Impl.dll" request_type="37" lpc="0" ws_url="http://devciaapp01/WSCgdSurvey/WSCgdSurvey.dll?Handler=Default"/>
</ConfigElements>