<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ShopperCreditLine.Impl.ShopperCreditLineRequest" assembly="Atlantis.Framework.ShopperCreditLine.Impl.dll" request_type="73" lpc="0" ws_url="http://devgdcomm02/WSgdLOCPublic/Service.asmx" />
</ConfigElements>
