<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="atlantis.xsl"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Links.Impl.LinkInfoRequest" assembly="Atlantis.Framework.Links.Impl.dll" request_type="731" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  
  <ConfigElement progid="Atlantis.Framework.Providers.Language.Tests.MockCDSLanguageRequest" assembly="Atlantis.Framework.Providers.Language.Tests.dll" request_type="721" lpc="0" ws_url="http://cms.dev.glbt1.gdg/" />
  
  
  
  
  
  
  
  
  
  
<ConfigElement progid="Atlantis.Framework.Language.Impl.LanguagePhraseRequest" assembly="Atlantis.Framework.Language.Impl.dll" request_type="681" lpc="0" /><ConfigElement progid="Atlantis.Framework.Language.Impl.CdsLanguageRequest" assembly="Atlantis.Framework.Language.Impl.dll" request_type="721" lpc="0" ws_url="http://cms.dev.glbt1.gdg/" /></ConfigElements>
