<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.4.4.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Language.Impl" version="14.1.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Language.Interface" version="14.1.28.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Parsers.LanguageFile" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.12.31" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline" version="14.2.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockEngine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="14.1.25.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockLocalization" version="4.13.12.31" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="14.4.4.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
</packages>