<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.Backorder.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.Backorder.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_Backorder_Impl_RegChkIsBackorder_RegChkIsBackorderService"
                serializeAs="String">
                <value>http://check.test.secureserver.net:80/RegChkIsBackorder/RegChkIsBackorder.dll?Handler=Default</value>
            </setting>
        </Atlantis.Framework.Backorder.Impl.Properties.Settings>
    </applicationSettings>
</configuration>