<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PLSignupInfo.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PLSignupInfo.Impl.dll" request_type="522" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ValidateNonOrderRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="644" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceEstimateRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="657" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdPricingEstimate/Service.asmx?WSDL">
    <ConfigValue key="ClientCertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelTypeRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="662" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ListPriceRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="690" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PromoPriceRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="691" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.ProductIsOnSaleRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="692" lpc="0" />
  <!-- only used to get all currencies including inactive in certain administrative apps (like pricing tools) -->
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyTypesRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="693" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.UnifiedProductIdRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="700" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupsOfferedRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="701" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductInfoRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="702" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.MultiCurrencyContextsRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="707" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductNamesRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="724" ws_url="http://commgtwyws.dev.glbt1.gdg/WsgdI18nAPI/Product/" />
  <!-- mock request handler to cause language calls to fail -->
  <ConfigElement progid="Atlantis.Framework.Providers.Geo.Tests.FailRequest" assembly="Atlantis.Framework.Providers.Geo.Tests.dll" request_type="999" />
  <ConfigElement progid="Atlantis.Framework.EcommPricing.Impl.PriceGroupsByCountrySiteRequest" assembly="Atlantis.Framework.EcommPricing.Impl.dll" request_type="713" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Currency.Impl.CurrencyTypesAllRequest" assembly="Atlantis.Framework.Currency.Impl.dll" request_type="693000" lpc="0" note="Only used to get all currencies including inactive in certain administrative apps (like pricing tools)">
    <ConfigValue key="DataSourceName" value="corp.web.siteadmin.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.siteadmin.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="SiteAdmin" />
  </ConfigElement>
</ConfigElements>