<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Conditions.Interface" version="4.13.10.12" targetFramework="net45" />
  <package id="Atlantis.Framework.Currency" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Currency.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.DataCacheService" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.EcommPricing" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.EcommPricing.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Nimitz" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Products" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Products.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Currency" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.13.10.17" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.9.27" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Preferences.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Products" version="4.13.10.22" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="4.13.10.16" targetFramework="net45" />
  <package id="Atlantis.Framework.Providers.Shopper.Interface" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Render.ExpressionParser" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Render.MarkupParser" version="4.0.0.0" targetFramework="net45" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="4.0.0.0" targetFramework="net45" />
</packages>