<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Engine" version="4.13.12.22" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.13.12.22" targetFramework="net40" />
  <package id="Atlantis.Framework.MiniEncrypt" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.SsoAuth.Interface" version="4.13.12.23" targetFramework="net40" />
  <package id="Atlantis.Framework.Shopper.Interface" version="4.13.11.22" targetFramework="net40" />
</packages>