<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballPromoBanners.Impl.FastballPromoBannersRequest" assembly="Atlantis.Framework.FastballPromoBanners.Impl.dll" request_type="331" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
</ConfigElements>