<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MYAGetMobileCarriers.Impl.MYAGetMobileCarriersRequest" assembly="Atlantis.Framework.MYAGetMobileCarriers.Impl.dll" request_type="311" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile MYA" />
  </ConfigElement>
</ConfigElements>
