<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuctionsRetrieveDomains.Impl.AuctionsRetrieveDomainsRequest" assembly="Atlantis.Framework.AuctionsRetrieveDomains.Impl.dll" request_type="215" lpc="0" ws_url="http://g1dwdnaweb01/trpLandingDomainsService/trpLandingDomains.asmx" />
</ConfigElements>
