<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FileHandlerServiceSaveFile.Impl.FileHandlerServiceSaveFileRequest" assembly="Atlantis.Framework.FileHandlerServiceSaveFile.Impl.dll" request_type="219" lpc="0" ws_url="http://quote-ws.dev.godaddy-com.ide/FileIntake/FileIntake.svc" />
</ConfigElements>
