<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="29" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlAsyncRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="30" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
</ConfigElements>
