<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.RegGetDotTypeProductIdListRequest" assembly="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.dll" request_type="279" lpc="0" ws_url="http://g1twdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
</ConfigElements>
