<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CommerceOrderXml.Impl.CommerceOrderXmlRequest" assembly="Atlantis.Framework.CommerceOrderXml.Impl.dll" request_type="146" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WsceCommerce/WsceCommerce.dll?Handler=Default"/>
</ConfigElements>