<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ActiveTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="635" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.CustomTLDGroupRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="636" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.OfferedTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="637" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="655" lpc="0" />
  
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ExtendedTLDDataRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="668" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDPhaseDateListRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="744" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDProductDomainAttributesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="745" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
</ConfigElements>
