<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.MYAGetUpgradeDomain.Impl.MYAGetUpgradeDomainRequest" assembly="Atlantis.Framework.MYAGetUpgradeDomain.Impl.dll" request_type="166" lpc="0">
        <ConfigValue key="GD_DataSourceName" value="corp.web.mya.Godaddy" />
        <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
        <ConfigValue key="ApplicationName" value="MYA" />
    </ConfigElement>
</ConfigElements>