<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HCCDomainSettings.Impl.HCCDomainSettingsRequest" assembly="Atlantis.Framework.HCCDomainSettings.Impl.dll" request_type="273" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>
