<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CDS.Impl.CDSRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="424" lpc="0" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="CDS" />
  </ConfigElement>
</ConfigElements>
