<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.ResourceSslBillingInfo.Impl.ResourceSslBillingInfoRequest" assembly="Atlantis.Framework.ResourceSslBillingInfo.Impl.dll" request_type="389" lpc="0">                                                                                                                               
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
