<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GuestbookSurveyResults.Impl.GuestbookSurveyResultsRequest" assembly="Atlantis.Framework.GuestbookSurveyResults.Impl.dll" request_type="145" lpc="0" ws_url="http://devciaapp01/fbiGuestbookService/GuestbookService.asmx" />
</ConfigElements>
