<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetDomainInfo.Impl.GetDomainInfoRequest" assembly="Atlantis.Framework.GetDomainInfo.Impl.dll" request_type="93" lpc="0" ws_url="http://g1dwdsweb01/regcheckdomainstatuswebsvc/regcheckdomainstatuswebsvc.dll"></ConfigElement>
</ConfigElements>
