<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.UpdateShopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.UpdateShopper.Impl.dll" request_type="61" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberAdd.Impl.BPBlogSubscriberAddRequest" assembly="Atlantis.Framework.BPBlogSubscriberAdd.Impl.dll" request_type="139" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.BPSubscribeRemove.Impl.BPSubscribeRemoveRequest" assembly="Atlantis.Framework.BPSubscribeRemove.Impl.dll" request_type="167" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeAdd.Impl.MktgSubscribeAddRequest" assembly="Atlantis.Framework.MktgSubscribeAdd.Impl.dll" request_type="169" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeRemove.Impl.MktgSubscribeRemoveRequest" assembly="Atlantis.Framework.MktgSubscribeRemove.Impl.dll" request_type="282" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.OptInUpdateInfo.Impl.OptInUpdateInfoRequest" assembly="Atlantis.Framework.OptInUpdateInfo.Impl.dll" request_type="315" lpc="0" />
</ConfigElements>
