<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCForwardingDelete.Impl.DCCForwardingDeleteRequest" assembly="Atlantis.Framework.DCCForwardingDelete.Impl.dll" request_type="112" lpc="0" ws_url="https://dccapp-general.dev.intranet.gdg/RegDCCRequestWS/RegDCCRequestWS.asmx">
    <ConfigValue key="VerifyUrl" value="https://dccapp-general.dev.intranet.gdg/RegDCCVerifyWS/RegDCCVerifyWS.asmx" />
  </ConfigElement>
</ConfigElements>
