<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HCCSetupOptions.Impl.HCCSetupOptionsRequest" assembly="Atlantis.Framework.HCCSetupOptions.Impl.dll" request_type="274" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>
