<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.BonzaiApplyAddOn.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Atlantis.Framework.BonzaiRemoveAddOn.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.BonzaiApplyAddOn.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_BonzaiRemoveAddOn_Impl_BonzaiWebService_Service"
                serializeAs="String">
                <value>http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx</value>
            </setting>
            <setting name="Atlantis_Framework_BonzaiApplyAddOn_Impl_BonzaiWebService_Service"
                serializeAs="String">
                <value>http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx</value>
            </setting>
        </Atlantis.Framework.BonzaiApplyAddOn.Impl.Properties.Settings>
        <Atlantis.Framework.BonzaiRemoveAddOn.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_BonzaiRemoveAddOn_Impl_BonzaiWebService_Service"
                serializeAs="String">
                <value>http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx</value>
            </setting>
        </Atlantis.Framework.BonzaiRemoveAddOn.Impl.Properties.Settings>
    </applicationSettings>
</configuration>