<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
</ConfigElements>
