<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>

  <!--
  DEV:
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.dev.domaincontrol.com/webroot/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  TEST:
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  OTE:
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.ote.domaincontrol.com/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
   
  STAGING:
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.stg.domaincontrol.com/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>  

  PROD:
  <ConfigElement progid="Atlantis.Framework.DNSSECGetStatus.Impl.DNSSECGetStatusRequest" assembly="Atlantis.Framework.DNSSECGetStatus.Impl.dll" request_type="280" lpc="0" ws_url="http://dnsapi.domaincontrol.com/dnsapi.php">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>  
  
  -->
    
</ConfigElements>
