<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.CRMLynxPermission.Impl.CRMLynxPermissionRequest" assembly="Atlantis.Framework.CRMLynxPermission.Impl.dll" request_type="353" lpc="0" ws_url="http://devcrmapp/LynxWS/PermissionService.asmx" />

<!--
DEV
<ConfigElement progid="Atlantis.Framework.CRMLynxPermission.Impl.CRMLynxPermissionRequest" assembly="Atlantis.Framework.CRMLynxPermission.Impl.dll" request_type="353" lpc="0" ws_url="http://devcrmapp/LynxWS/PermissionService.asmx" />

TEST
<ConfigElement progid="Atlantis.Framework.CRMLynxPermission.Impl.CRMLynxPermissionRequest" assembly="Atlantis.Framework.CRMLynxPermission.Impl.dll" request_type="353" lpc="0" ws_url="http://testcrmapp/LynxWS2.0/PermissionService.asmx" />

PROD
<ConfigElement progid="Atlantis.Framework.CRMLynxPermission.Impl.CRMLynxPermissionRequest" assembly="Atlantis.Framework.CRMLynxPermission.Impl.dll" request_type="353" lpc="0" ws_url="http://crmapp/LynxWS/PermissionService.asmx" />
-->

</ConfigElements>
