<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.UpdateShopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.UpdateShopper.Impl.dll" request_type="61" lpc="0" ws_url="http://devsbeapp01/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
</ConfigElements>
