<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.13.9.25" targetFramework="net40" />
  <package id="Atlantis.Framework.Localization.Interface" version="4.13.11.5" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.13.10.25" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.11.4" targetFramework="net40" />
  <package id="Atlantis.Framework.RuleEngine" version="4.0.0.0" targetFramework="net40" />
</packages>