<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <!--<ConfigElement progid="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.PrivacyAppInsertUpdateRequest" assembly="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.dll" request_type="221" lpc="0" ws_url="http://devsbeapp01.jomax.paholdings.com/wscgdPrivacyApp/wscgdPrivacyApp.dll?Handler=Default" /> -->
  <ConfigElement progid="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.PrivacyAppInsertUpdateRequest" assembly="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.dll" request_type="221" lpc="0" ws_url="https://privacyapp.dev.glbt1.gdg/wscgdPrivacyApp/wscgdPrivacyApp.dll?Handler=Default" >
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>