<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.DotTypeValidation.Impl" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.DotTypeValidation.Interface" version="4.14.1.8" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.5.15.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Containers" version="14.4.4.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="14.6.19.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Links.Interface" version="4.13.11.6" targetFramework="net40" />
  <package id="Atlantis.Framework.Web.DynamicRouteHandler" version="4.13.11.18" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
</packages>