<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RegIsValidXN.Impl.RegIsValidXNRequest" assembly="Atlantis.Framework.RegIsValidXN.Impl.dll" request_type="132" lpc="0" ws_url="http://g1dwregcheck01/RegIDNCheckerWebSvc/RegIDNCheckerWebSvc.asmx" />
</ConfigElements>
