<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HXGetAccountInfo.Impl.HXGetAccountInfoRequest" assembly="Atlantis.Framework.HXGetAccountInfo.Impl.dll" request_type="278" lpc="0" ws_url="http://g1twhmc013/Hx.businessservices.host/hxusage.asmx" />
</ConfigElements>
