<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.DCCCreateDNS.Impl.DCCCreateDNSRequest" assembly="Atlantis.Framework.DCCCreateDNS.Impl.dll" request_type="107" lpc="0"  ws_url="http://dnsapi.test.secureserver-net.ide/dnsapi.php"/>
</ConfigElements>
