<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CDS.Impl.CDSRequest" assembly="Atlantis.Framework.CDS.Impl.dll" request_type="424" lpc="0" ws_url="http://cds.debug.godaddy-com.ide/">
    <ConfigValue key="ApplicationName" value="CDS" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
</ConfigElements>