<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthNamespace.Impl.AuthNamespaceRequest" assembly="Atlantis.Framework.AuthNamespace.Impl.dll" request_type="210" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AuthNamespace.Impl.AuthNamespaceRequest" assembly="Atlantis.Framework.AuthNamespace.Impl.dll" request_type="1210" lpc="0" ws_url="http://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
</ConfigElements>
