<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaCheckDomainRenewalStatus.Impl.MyaCheckDomainRenewalStatusRequest" assembly="Atlantis.Framework.MyaCheckDomainRenewalStatus.Impl.dll" request_type="192" lpc="0"  ws_url="https://dccapp-general.dev.intranet.gdg/RegDCCVerifyWS/RegDCCVerifyWS.asmx"/>
</ConfigElements>
