<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MktgGetShopperPreferences.Impl.MktgGetShopperPreferencesRequest" assembly="Atlantis.Framework.MktgGetShopperPreferences.Impl.dll" request_type="340" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
</ConfigElements>
