<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetBasketPrice.Impl.GetBasketPriceRequest" assembly="Atlantis.Framework.GetBasketPrice.Impl.dll" request_type="34" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
</ConfigElements>