<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetAccountXML.Impl.GetAccountXMLRequest" assembly="Atlantis.Framework.GetAccountXML.Impl.dll" request_type="74" lpc="0" ws_url="http://devgdbonsai/bonsai/bonsaimanager/service.asmx" />
</ConfigElements>