<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.WhoIsStatsDetail.Impl.WhoIsStatsDetailRequest" assembly="Atlantis.Framework.WhoIsStatsDetail.Impl.dll" request_type="333" lpc="0">
    <ConfigValue key="DataSourceName" value="proxima" />
    <ConfigValue key="CertificateName" value="bazaar.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="WhoIs" />
  </ConfigElement>
</ConfigElements>