<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetExpiringProfiles.Impl.GetExpiringProfilesRequest" assembly="Atlantis.Framework.GetExpiringProfiles.Impl.dll" request_type="92" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
</ConfigElements>