<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.KiwiLogger.Impl.KiwiLoggerRequest" assembly="Atlantis.Framework.KiwiLogger.Impl.dll" request_type="53" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.EcommPaymentProfiles.Impl.EcommPaymentProfilesRequest" assembly="Atlantis.Framework.EcommPaymentProfiles.Impl.dll" request_type="384" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
</ConfigElements>
