<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
   <ConfigElement progid="Atlantis.Framework.DCCForwardingUpdate.Impl.DCCForwardingUpdateRequest" assembly="Atlantis.Framework.DCCForwardingUpdate.Impl.dll" request_type="111" lpc="0" ws_url="http://devdsweb/RegDCCRequestWebSvc/RegDCCRequestWebSvc.dll?Handler=Default"/>
</ConfigElements>
