<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.WhoIsGetBlock.Impl.WhoIsGetBlockRequest" assembly="Atlantis.Framework.WhoIsGetBlock.Impl.dll" request_type="321" lpc="0" >
        <ConfigValue key="DataSourceName" value="proxima" />
        <ConfigValue key="CertificateName" value="bazaar.dev.client.godaddy.com" />
        <ConfigValue key="ApplicationName" value="WhoIs" />
    </ConfigElement>
    <ConfigElement progid="Atlantis.Framework.WhoIsSaveBlock.Impl.WhoIsSaveBlockRequest" assembly="Atlantis.Framework.WhoIsSaveBlock.Impl.dll" request_type="322" lpc="0" >
        <ConfigValue key="DataSourceName" value="proxima" />
        <ConfigValue key="CertificateName" value="bazaar.dev.client.godaddy.com" />
        <ConfigValue key="ApplicationName" value="WhoIs" />
    </ConfigElement>
</ConfigElements>