<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MktgSetShopperCommPref.Impl.MktgSetShopperCommPrefRequest" assembly="Atlantis.Framework.MktgSetShopperCommPref.Impl.dll" request_type="337" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
</ConfigElements>