<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthAuthorize.Impl.AuthAuthorizeRequest" assembly="Atlantis.Framework.AuthAuthorize.Impl.dll" request_type="396" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
</ConfigElements>