<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EventGetAllActiveEvents.Impl.EventGetAllActiveEventsRequest" assembly="Atlantis.Framework.EventGetAllActiveEvents.Impl.dll" request_type="118" lpc="0" ws_url="http://eventservice.dev.intranet.gdg/SupportEventData.asmx"/>
</ConfigElements>
