<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.OutreachActivity.Impl.OutreachActivityRequest" assembly="Atlantis.Framework.OutreachActivity.Impl.dll" request_type="160" lpc="0" ws_url="http://svc.e.marketing.dev.intranet-gdg.ide/MyaService.asmx"/>
</ConfigElements>
