<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="17" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainsBot.Impl.DomainsBotAsyncRequest" assembly="Atlantis.Framework.DomainsBot.Impl.dll" request_type="22" lpc="0" ws_url="http://xml.domainsbot.com/xmlservices/firstimpact.asmx" />
</ConfigElements>
