<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.MYAGetDBPProductInfoData.Impl.GetDBPProductInfoDataRequest" assembly="Atlantis.Framework.MYAGetDBPProductInfoData.Impl.dll" request_type="201" lpc="0">
		<ConfigValue key="GD_DataSourceName" value="corp.web.mya.Godaddy" />
		<ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
		<ConfigValue key="ApplicationName" value="MYA" />

		<ConfigValue key="GD_Default_Protected_PFID" value="766001" />
		<ConfigValue key="GD_Default_Deluxe_PFID" value="766010" />
		<ConfigValue key="GD_Default_Business_PFID" value="84" />
		<ConfigValue key="GD_Default_Private_PFID" value="7001" />

		<ConfigValue key="BR_Default_Protected_PFID" value="766001" />
		<ConfigValue key="BR_Default_Deluxe_PFID" value="766010" />
		<ConfigValue key="BR_Default_Business_PFID" value="84" />
		<ConfigValue key="BR_Default_Private_PFID" value="7001" />

		<ConfigValue key="PL_Default_Protected_PFID" value="766001" />
		<ConfigValue key="PL_Default_Deluxe_PFID" value="766010" />
		<ConfigValue key="PL_Default_Business_PFID" value="84" />
		<ConfigValue key="PL_Default_Private_PFID" value="7001" />

	</ConfigElement>
</ConfigElements>

