<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaProductSEV.Impl.MyaProductSEVRequest" assembly="Atlantis.Framework.MyaProductSEV.Impl.dll" request_type="467" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />    
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.SEVGetWebsiteId.Impl.SEVGetWebsiteIdRequest" assembly="Atlantis.Framework.SEVGetWebsiteId.Impl.dll" request_type="457" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.trafficBlazerApp" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>
