<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.HCCAppCount.Impl.HCCAppCountRequest" assembly="Atlantis.Framework.HCCAppCount.Impl.dll" request_type="251" lpc="0" ws_url="http://metrowebservices.test.secureserver-net.ide/HCAppCountService.asmx " />
</ConfigElements>
