<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.SearchDiscussions.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.SearchDiscussions.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_SearchDiscussions_Impl_ForumsWS_Administration"
                serializeAs="String">
                <value>http://admin.dev.forum-com.ide/Administration.asmx</value>
            </setting>
        </Atlantis.Framework.SearchDiscussions.Impl.Properties.Settings>
    </applicationSettings>
</configuration>