<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MobilePushShopperUpdate.Impl.MobilePushShopperUpdateRequest" assembly="Atlantis.Framework.MobilePushShopperUpdate.Impl.dll" request_type="430" lpc="0" ws_url="https://shopper.dev.glbt1.gdg/WSgdMobileAppData/Service1.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mob.dev.client.godaddy.com" />
  </ConfigElement>
</ConfigElements>