<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DBSGetResourceById.Impl.DBSGetResourceByIdRequest" assembly="Atlantis.Framework.DBSGetResourceById.Impl.dll" request_type="296" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.sales.domainbuy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="sales" />
  </ConfigElement>
</ConfigElements>
