<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.HCCGetServiceAgreement.Impl.HCCGetServiceAgreementRequest" assembly="Atlantis.Framework.HCCGetServiceAgreement.Impl.dll" request_type="262" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>
