<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.ManagerUser.Impl.ManagerUserLookupRequest" assembly="Atlantis.Framework.ManagerUser.Impl.dll" request_type="65" lpc="0" ws_url="http://g1dwdvweb01/ManagerUserLookup/LookupService.asmx" />
</ConfigElements>
