<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BonzaiApplyAddOn.Impl.BonzaiApplyAddOnRequest" assembly="Atlantis.Framework.BonzaiApplyAddOn.Impl.dll" request_type="135" lpc="0" ws_url="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
</ConfigElements>