<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.XCPaymentProfileCheck.Impl.XCPaymentProfileCheckRequest" assembly="Atlantis.Framework.XCPaymentProfileCheck.Impl.dll" request_type="175" lpc="0" ws_url="http://devgdcomm02.jomax.paholdings.com/WSgdInstantPurchasePublic/Service.asmx" />
  
  <!--
  <TEST>
  <ConfigElement progid="Atlantis.Framework.XCPaymentProfileCheck.Impl.XCPaymentProfileCheckRequest" assembly="Atlantis.Framework.XCPaymentProfileCheck.Impl.dll" request_type="175" lpc="0" ws_url="http://testgdcomm.jomax.paholdings.com/WSgdInstantPurchasePublic/Service.asmx" />
  
  <PROD>
  <ConfigElement progid="Atlantis.Framework.XCPaymentProfileCheck.Impl.XCPaymentProfileCheckRequest" assembly="Atlantis.Framework.XCPaymentProfileCheck.Impl.dll" request_type="175" lpc="0" ws_url="http://gdcomm.godaddy.com/WSgdInstantPurchasePublic/Service.asmx" />  
  -->
</ConfigElements>
