<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BonzaiRemoveAddOn.Impl.BonzaiRemoveAddOnRequest" assembly="Atlantis.Framework.BonzaiRemoveAddOn.Impl.dll" request_type="136" lpc="0" ws_url="http://devgdbonsai/bonsaiExtensions/AddOnManager/Service.asmx" />
</ConfigElements>