<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.DCCGetDomainByShopper.Impl.DCCGetDomainByShopperRequest" assembly="Atlantis.Framework.DCCGetDomainByShopper.Impl.dll" request_type="100" lpc="0" ws_url="http://g1dwdsweb01/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default" />
</ConfigElements>
