<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberAdd.Impl.BPBlogSubscriberAddRequest" assembly="Atlantis.Framework.BPBlogSubscriberAdd.Impl.dll" request_type="139" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
</ConfigElements>
