<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.MyaProductCostcoBundle.Impl.MyaProductCostcoBundleRequest" assembly="Atlantis.Framework.MyaProductCostcoBundle.Impl.dll" request_type="371" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>    
</ConfigElements>
