<?xml version="1.0" encoding="utf-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.UnifiedProductIdRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="700" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupsOfferedRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="701" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductInfoRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="702" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductNamesRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="724" ws_url="http://commgtwyws.dev.glbt1.gdg/WsgdI18nAPI/Product/" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupOfferedCountriesRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="792" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.ProductGroupsOfferedMarketsRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="793" ws_url="http://cms.dev.glbt1.gdg/">
    <ConfigValue key="ApplicationName" value="TripletTests" />
    <!--Update this value with any name that describes your application. Used for associating an error with an application in the error log.-->
  </ConfigElement>
</ConfigElements>
