<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.FastballGetOffers.Impl.FastballGetOffersRequest" assembly="Atlantis.Framework.FastballGetOffers.Impl.dll" request_type="230" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/offersapi/service.asmx" />
</ConfigElements>
