<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atlantis.Framework.DCCCreateBlogRecord.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.DCCCreateBlogRecord.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_DCCCreateBlogRecord_Impl_DnsApi_dnssoapapi"
                serializeAs="String">
                <value>http://dnsapi.domaincontrol.com/dnsapi.php</value>
            </setting>
        </Atlantis.Framework.DCCCreateBlogRecord.Impl.Properties.Settings>
    </applicationSettings>
</configuration>