<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HCCAvailableSSL.Impl.HCCAvailableSSLRequest" assembly="Atlantis.Framework.HCCAvailableSSL.Impl.dll" request_type="275" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>
