<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.AuthToken.Impl.AuthTokenRequest" assembly="Atlantis.Framework.AuthToken.Impl.dll" request_type="208" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AuthToken.Impl.AuthTokenRequest" assembly="Atlantis.Framework.AuthToken.Impl.dll" request_type="1208" lpc="0" ws_url="http://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
</ConfigElements>
