<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Atlantis.Framework.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Atlantis.Framework.Engine.Properties.Settings>
      <setting name="ConfigFile" serializeAs="String">
        <value>C:\Projects\Delta\Services\AtlantisFramework\Main\atlantis.config</value>
      </setting>
      <setting name="Atlantis_Framework_Engine_gdSiteLog_WSCgdSiteLogService"
          serializeAs="String">
        <value>http://commgtwyws.dev.glbt1.gdg:80/WSCgdSiteLog/WSCgdSiteLog.dll?Handler=Default</value>
      </setting>
    </Atlantis.Framework.Engine.Properties.Settings>
  </applicationSettings>
</configuration>