<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DocumentAttributes.Impl.DocumentAttributesRequest" assembly="Atlantis.Framework.DocumentAttributes.Impl.dll" request_type="393" lpc="0" ws_url="http://api.gdhelp.dev.intranet.gdg/document" />
</ConfigElements>
