<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetBasket.Impl.GetBasketRequest" assembly="Atlantis.Framework.GetBasket.Impl.dll" request_type="7" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
</ConfigElements>
