<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MessagingShopperNote.Impl.MessagingShopperNoteRequest" assembly="Atlantis.Framework.MessagingShopperNote.Impl.dll" request_type="200" lpc="0"  ws_url="http://testgdmsg01/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>

  <!-- 
  DEV
  <ConfigElement progid="Atlantis.Framework.MessagingShopperNote.Impl.MessagingShopperNoteRequest" assembly="Atlantis.Framework.MessagingShopperNote.Impl.dll" request_type="200" lpc="0"  ws_url="http://devgdmsg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>  
  TEST
  <ConfigElement progid="Atlantis.Framework.MessagingShopperNote.Impl.MessagingShopperNoteRequest" assembly="Atlantis.Framework.MessagingShopperNote.Impl.dll" request_type="200" lpc="0"  ws_url="http://testgdmsg01/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>    
  PROD
  <ConfigElement progid="Atlantis.Framework.MessagingShopperNote.Impl.MessagingShopperNoteRequest" assembly="Atlantis.Framework.MessagingShopperNote.Impl.dll" request_type="200" lpc="0"  ws_url="http://messaging.prod.mesa1.gdg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>
  
  -->
</ConfigElements>
