<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EmailMobileTemplate.Impl.EmailMobileTemplateRequest" assembly="Atlantis.Framework.EmailMobileTemplate.Impl.dll" request_type="248" lpc="0" ws_url="http://devgdmsg/MessagingDeliveryWS/MessagingDelivery.asmx"/>
  <!-- <ConfigElement progid="Atlantis.Framework.EmailMobileTemplate.Impl.EmailMobileTemplateRequest" assembly="Atlantis.Framework.EmailMobileTemplate.Impl.dll" request_type="248" lpc="0" ws_url="http://testgdmsg01/MessagingDeliveryWS/MessagingDelivery.asmx"/> -->
  <!-- <ConfigElement progid="Atlantis.Framework.EmailMobileTemplate.Impl.EmailMobileTemplateRequest" assembly="Atlantis.Framework.EmailMobileTemplate.Impl.dll" request_type="248" lpc="0" ws_url="http://messaging.prod.mesa1.gdg/MessagingDeliveryWS/MessagingDelivery.asmx"/> -->
</ConfigElements>