<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.SBSCertificate.Impl.SBSCertificateRequest" assembly="Atlantis.Framework.SBSCertificate.Impl.dll" lpc="0" request_type="197">
    <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="sales" />
  </ConfigElement>
</ConfigElements>
