<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>  
  <ConfigElement progid="Atlantis.Framework.CreateIncidentInIRIS.Impl.CreateIncidentInIRISRequest" assembly="Atlantis.Framework.CreateIncidentInIRIS.Impl.dll" request_type="75" lpc="0" ws_url="https://iris-ws.dev.godaddy-com.ide/iris/IrisWebservice.asmx" />
</ConfigElements>