<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
	<ConfigElement progid="Atlantis.Framework.WhoIsGetInfo.Impl.WhoIsGetInfoDataRequest" assembly="Atlantis.Framework.WhoIsGetInfo.Impl.dll" request_type="202" lpc="0">
		<ConfigValue key="WhoIs_Request_URL" value="http://whois.godaddy.com/whoischeck.asp" />
		<ConfigValue key="BR_WhoIs_Request_URL" value="http://whois.bluerazor.com/whoischeck.asp" />
		<ConfigValue key="PL_WhoIs_Request_URL" value="http://whois.godaddy.com/whoischeck.asp" />
	</ConfigElement>
</ConfigElements>