<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="15" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
  <ConfigElement progid="Atlantis.Framework.BuyDomains.Impl.BuyDomainsAsyncRequest" assembly="Atlantis.Framework.BuyDomains.Impl.dll" request_type="20" lpc="0" ws_url="https://search.buydomains.com/broker?id=godaddy2&amp;password=R2K9yF5h&amp;" />
</ConfigElements>
