<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.DCCGetNameservers.Impl.DCCGetNameserversRequest" assembly="Atlantis.Framework.DCCGetNameservers.Impl.dll" request_type="113" lpc="0" ws_url="http://testdsweb/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default"/>
</ConfigElements>
