<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
<ConfigElement progid="Atlantis.Framework.MktgSubscribeAdd.Impl.MktgSubscribeAddRequest" assembly="Atlantis.Framework.MktgSubscribeAdd.Impl.dll" request_type="169" lpc="0" ws_url="https://commgtwyws.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
</ConfigElements>
