<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.SearchDiscussions.Impl.SearchDiscussionsRequest" assembly="Atlantis.Framework.SearchDiscussions.Impl.dll" request_type="76" lpc="0" ws_url="http://admin.dev.forum-com.ide/Administration.asmx" />
</ConfigElements>