<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="3" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetMiniCart.Impl.GetMiniCartAsyncRequest" assembly="Atlantis.Framework.GetMiniCart.Impl.dll" request_type="8" lpc="0" ws_url="http://devgdcomm02/WscgdBasket/WscgdBasket.dll?Handler=Default" />
</ConfigElements>
