<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Currency" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Currency.Interface" version="4.14.1.2" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.13.12.21" targetFramework="net40" />
  <package id="Atlantis.Framework.EcommPricing" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.EcommPricing.Interface" version="14.1.22.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Geo.Interface" version="14.1.22.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Nimitz" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="14.1.21.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Products" version="14.1.22.4" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="14.1.22.4" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Currency" version="4.14.1.3" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Geo.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.13.12.2" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Localization.Interface" version="4.13.12.31" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Preferences.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Shopper.Interface" version="4.14.1.4" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockEngine" version="14.1.16.1" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockLocalization" version="4.13.12.31" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockPreferencesProvider" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="4.14.1.13" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
</packages>