<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.EcommValidPaymentCurrencies.Impl.EcommValidPaymentCurrenciesRequest" assembly="Atlantis.Framework.EcommValidPaymentCurrencies.Impl.dll" request_type="363" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdPaymentTypes/WSCgdPaymentTypes.dll?Handler=Default" />
</ConfigElements>