<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.CatalogGetCategoriesCache.Impl.CatalogGetCategoriesCacheRequest" assembly="Atlantis.Framework.CatalogGetCategoriesCache.Impl.dll" lpc="0" request_type="245">
        <ConfigValue key="DataSourceName" value="corp.web.sales.godaddy" />
        <ConfigValue key="CertificateName" value="corp.web.sales.dev.client.godaddy.com" />
        <ConfigValue key="ApplicationName" value="sales" />
    </ConfigElement>
</ConfigElements>