<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.IrisGetServiceMappings.Impl.IrisGetServiceMappingsRequest"
                 assembly="Atlantis.Framework.IrisGetServiceMappings.Impl.dll"
                 request_type="339"
                 lpc="0"
                 ws_url="http://iris-ws.dev.godaddy-com.ide/Iris/iriswebservice.asmx" />
</ConfigElements>
