<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.UserAgentEx.Impl.UserAgentExRequest" assembly="Atlantis.Framework.UserAgentEx.Impl.dll" request_type="528" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.SplitTesting.Impl.ActiveSplitTestsRequest" assembly="Atlantis.Framework.SplitTesting.Impl.dll" request_type="684" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.SplitTesting.Impl.ActiveSplitTestDetailsRequest" assembly="Atlantis.Framework.SplitTesting.Impl.dll" request_type="685" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DataCacheGeneric.Impl.GetCacheDataRequest" assembly="Atlantis.Framework.DataCacheGeneric.Impl.dll" request_type="694" lpc="0" />

  
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_NoTests" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="999" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_1Tests" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="998" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_3Tests" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="997" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_ThrowsException" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="996" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_1Test_WithEligibilityRules" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="995" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_1Test_WithNeverEligibleEligibilityRules" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="994" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_1Test_WithMalformedEligibilityRules" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="993" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestsRequest_1Test_WithTwoEligibilityRules" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="992" lpc="0" />

  


  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestDetailsRequest_A" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="989" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestDetailsRequest_AB_50_50" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="988" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestDetailsRequest_AB_80_20" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="987" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestDetailsRequest_AB_100_0" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="986" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockActiveSplitTestDetailsRequest_ThrowsException" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="985" lpc="0" />
  

  <ConfigElement progid="Atlantis.Framework.Providers.SplitTesting.Tests.Mocks.MockAppSettingRequest_ATLANTIS_SPLITPROVIDER_COOKIELIFE_HOURS_24Hours" assembly="Atlantis.Framework.Providers.SplitTesting.Tests.dll" request_type="979" lpc="0" />

</ConfigElements>
