<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.AppSettings.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Conditions.Interface" version="4.13.10.12" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCache" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheGeneric.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.DataCacheService" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Engine" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.PrivateLabel.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Products.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.Preferences.Interface" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.RenderPipeline.Interface" version="4.13.10.16" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.SplitTesting.Interface" version="4.13.7.30" targetFramework="net40" />
  <package id="Atlantis.Framework.Providers.UserAgentDetection" version="4.13.8.6" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.ExpressionParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Render.MarkupParser" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.SplitTesting.Impl" version="4.13.4.30" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockHttpContext" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.Testing.MockProviders" version="4.0.0.0" targetFramework="net40" />
  <package id="Atlantis.Framework.UserAgentEx.Impl" version="4.13.7.29" targetFramework="net40" />
  <package id="Atlantis.Framework.UserAgentEx.Interface" version="4.13.7.29" targetFramework="net40" />
</packages>