<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.FastballContent.Impl.FastballContentRequest" assembly="Atlantis.Framework.FastballContent.Impl.dll" request_type="359" lpc="0" />
</ConfigElements>
