<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DPPDomainSearch.Impl.DPPDomainSearchRequest" assembly="Atlantis.Framework.DPPDomainSearch.Impl.dll" request_type="323" lpc="0" ws_url="http://g1dwlep001/gdDppSearch/gdDppSearchWS.asmx" />
  <ConfigElement progid="Atlantis.Framework.DPPDomainSearch.Impl.DPPDomainSearchAsyncRequest" assembly="Atlantis.Framework.DPPDomainSearch.Impl.dll" request_type="330" lpc="0" ws_url="http://g1dwlep001/gdDppSearch/gdDppSearchWS.asmx" />
</ConfigElements>
