<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberQuery.Impl.BPBlogSubscriberQueryRequest" assembly="Atlantis.Framework.BPBlogSubscriberQuery.Impl.dll" request_type="140" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
</ConfigElements>
