<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.CertifiedSiteSeal.Impl.CertifiedSiteSealRequest" assembly="Atlantis.Framework.CertifiedSiteSeal.Impl.dll" request_type="316" lpc="0" ws_url="https://certifieddomains.dev.intranet.gdg/CDWhoIsWebSvc/CDWhoisWebSvc.asmx" />
</ConfigElements>
