<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HCCIsPasswordValid.Impl.HCCIsPasswordValidRequest" assembly="Atlantis.Framework.HCCIsPasswordValid.Impl.dll" request_type="267" lpc="0" ws_url="http://mobilehccwebservices.test.secureserver-net.ide:8087/HCCAPIService.asmx" />
</ConfigElements>
