<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DomainBundleId.Impl.DomainBundleIdRequest" assembly="Atlantis.Framework.DomainBundleId.Impl.dll" request_type="423" lpc="0">
    <ConfigValue key="DataSourceName" value="Godaddy_reporting_ro" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
</ConfigElements>