<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
   <ConfigElement progid="Atlantis.Framework.WhoIsStatsLogger.Impl.WhoIsStatsLoggerRequest" assembly="Atlantis.Framework.WhoIsStatsLogger.Impl.dll" request_type="320" lpc="0">
     <ConfigValue key="DataSourceName" value="proxima" />
     <ConfigValue key="CertificateName" value="bazaar.dev.client.godaddy.com" />
     <ConfigValue key="ApplicationName" value="WhoIs" />
   </ConfigElement>
</ConfigElements>