<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
    <ConfigElement progid="Atlantis.Framework.MyaProductAdSpace.Impl.MyaProductAdSpaceRequest" assembly="Atlantis.Framework.MyaProductAdSpace.Impl.dll" request_type="212" lpc="0">
        <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
        <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
        <ConfigValue key="ApplicationName" value="MYA" />
    </ConfigElement>
</ConfigElements>
