<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.PrivacyAppGetRecord.Impl.PrivacyAppGetRecordRequest" assembly="Atlantis.Framework.PrivacyAppGetRecord.Impl.dll" request_type="207" lpc="0" ws_url="http://devsbeapp01.jomax.paholdings.com/wscgdPrivacyApp/wscgdPrivacyApp.dll?Handler=Default" />
</ConfigElements>