<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>

  <ConfigElement progid="Atlantis.Framework.DCCValidateNS.Impl.DCCValidateNSRequest" assembly="Atlantis.Framework.DCCValidateNS.Impl.dll" request_type="326" lpc="0" ws_url="http://dnsapi.test.secureserver-net.ide/dnsverifyapi.php">
    <ConfigValue key="ClientId" value="mya" />
  </ConfigElement>

</ConfigElements>