<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetSurveyTakenInfo.Impl.GetSurveyTakenInfoRequest" assembly="Atlantis.Framework.GetSurveyTakenInfo.Impl.dll" request_type="116" lpc="0" ws_url="http://devisgweb01/pqcws/pqcws.asmx" />
</ConfigElements>
