<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.RedeemCreditEx.Impl.RedeemCreditExRequest" assembly="Atlantis.Framework.RedeemCreditEx.Impl.dll" request_type="79" lpc="0" ws_url="http://devgdcomm02/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
</ConfigElements>
