<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetShopper.Impl.GetShopperRequest" assembly="Atlantis.Framework.GetShopper.Impl.dll" request_type="1" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AddItem.Impl.AddItemRequest" assembly="Atlantis.Framework.AddItem.Impl.dll" request_type="4" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasket.Impl.GetBasketRequest" assembly="Atlantis.Framework.GetBasket.Impl.dll" request_type="7" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.LinkInfo.Impl.LinkInfoRequest" assembly="Atlantis.Framework.LinkInfo.Impl.dll" request_type="12" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ProductOffer.Impl.ProductOfferRequest" assembly="Atlantis.Framework.ProductOffer.Impl.dll" request_type="24" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.ShopperPriceType.Impl.ShopperPriceTypeRequest" assembly="Atlantis.Framework.ShopperPriceType.Impl.dll" request_type="25" lpc="1" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdBillingData/WSgdBillingData.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetOverrideHash.Impl.GetOverrideHashRequest" assembly="Atlantis.Framework.GetOverrideHash.Impl.dll" request_type="26" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.GetDurationHash.Impl.GetDurationHashRequest" assembly="Atlantis.Framework.GetDurationHash.Impl.dll" request_type="27" lpc="1" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="29" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.PresentationCentral.Impl.HtmlAsyncRequest" assembly="Atlantis.Framework.PresentationCentral.Impl.dll" request_type="30" lpc="0" ws_url="http://presentationcentral.dev.glbt1.gdg/atlantis/presentationcentral.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactCheck.Impl.DomainContactCheckRequest" assembly="Atlantis.Framework.DomainContactCheck.Impl.dll" request_type="31" lpc="0" ws_url="http://g1twregcheck01/RegContactValidationWebSvc/ContactValidationService.asmx" />
  <ConfigElement progid="Atlantis.Framework.DataProvider.Impl.DataProviderRequest" assembly="Atlantis.Framework.DataProvider.Impl.dll" request_type="35" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.NameserverCheck.Impl.NameserverCheckRequest" assembly="Atlantis.Framework.NameserverCheck.Impl.dll" request_type="40" lpc="0" ws_url="http://g1twregcheck01/availcheckwebsvc/availcheckwebsvc.asmx" />  
  <ConfigElement progid="Atlantis.Framework.UpdateShopper.Impl.UpdateShopperRequest" assembly="Atlantis.Framework.UpdateShopper.Impl.dll" request_type="61" lpc="0" ws_url="http://shopper.dev.glbt1.gdg/WSCgdShopper/WSCgdShopper.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetBasketItemCounts.Impl.GetBasketItemCountsRequest" assembly="Atlantis.Framework.GetBasketItemCounts.Impl.dll" request_type="62" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.VerifyShopper.Impl.VerifyShopperRequest" assembly="Atlantis.Framework.VerifyShopper.Impl.dll" request_type="63" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement assembly="Atlantis.Framework.AuthChangePassword.Impl.dll" progid="Atlantis.Framework.AuthChangePassword.Impl.AuthChangePasswordRequest" lpc="0" request_type="71" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.RedeemCreditEx.Impl.RedeemCreditExRequest" assembly="Atlantis.Framework.RedeemCreditEx.Impl.dll" request_type="79" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetCreditGroupSummary.Impl.GetCreditGroupSummaryRequest" assembly="Atlantis.Framework.GetCreditGroupSummary.Impl.dll" request_type="80" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetParentResourcesByAvailableCredits.Impl.GetParentResourcesByAvailableCreditsRequest" assembly="Atlantis.Framework.GetParentResourcesByAvailableCredits.Impl.dll" request_type="81" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdCMS/WSCgdCMS.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetCoupons.Impl.GetCouponsRequest" assembly="Atlantis.Framework.GetCoupons.Impl.dll" request_type="86" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdAdWordCoupons/WSCgdAdWordCoupons.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.AuctionsAreaBySection.Impl.AuctionsAreaBySectionRequest" assembly="Atlantis.Framework.AuctionsAreaBySection.Impl.dll" request_type="87" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpAdminUtilsService.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetOffersWithPlId.Impl.GetOffersWithPlIdRequest" assembly="Atlantis.Framework.GetOffersWithPlId.Impl.dll" request_type="89" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.LogOfferClick.Impl.LogOfferClickRequest" assembly="Atlantis.Framework.LogOfferClick.Impl.dll" request_type="90" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.LogOfferImpression.Impl.LogOfferImpressionRequest" assembly="Atlantis.Framework.LogOfferImpression.Impl.dll" request_type="91" lpc="0" ws_url="http://fastball.dev.glbt1.gdg/fbiSmartOffers/SmartOffers.asmx" />
  <ConfigElement progid="Atlantis.Framework.GetExpiringProfiles.Impl.GetExpiringProfilesRequest" assembly="Atlantis.Framework.GetExpiringProfiles.Impl.dll" request_type="92" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/wscgdProfiles/PPWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetCertifiedDomainCount.Impl.GetCertifiedDomainCountRequest" assembly="Atlantis.Framework.GetCertifiedDomainCount.Impl.dll" request_type="95" lpc="0" ws_url="https://certifieddomains.dev.intranet.gdg/CDCustomerWebSvc/CDCustomerWebSvc.asmx">
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BillingAlertsByShopper.Impl.BillingAlertsByShopperRequest" assembly="Atlantis.Framework.BillingAlertsByShopper.Impl.dll" request_type="99" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.DCCGetDomainByShopper.Impl.DCCGetDomainByShopperRequest" assembly="Atlantis.Framework.DCCGetDomainByShopper.Impl.dll" request_type="100" lpc="0" ws_url="http://g1dwdsweb01/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.GetSurveyTakenInfo.Impl.GetSurveyTakenInfoRequest" assembly="Atlantis.Framework.GetSurveyTakenInfo.Impl.dll" request_type="116" lpc="0" ws_url="http://devisgweb01/pqcws/pqcws.asmx" />
  <ConfigElement progid="Atlantis.Framework.OrionSecurityAuth.Impl.OrionSecurityAuthRequest" assembly="Atlantis.Framework.OrionSecurityAuth.Impl.dll" request_type="128" lpc="0"  ws_url="https://orion.starfieldtech.com.dev.sdl1.gdg/Security/Security.asmx">
    <ConfigValue key="DataSourceName" value="corp.web.mya.orion" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>  
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberAdd.Impl.BPBlogSubscriberAddRequest" assembly="Atlantis.Framework.BPBlogSubscriberAdd.Impl.dll" request_type="139" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.BPBlogSubscriberQuery.Impl.BPBlogSubscriberQueryRequest" assembly="Atlantis.Framework.BPBlogSubscriberQuery.Impl.dll" request_type="140" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.MessagingShowUpdateEmail.Impl.MessagingShowUpdateEmailRequest" assembly="Atlantis.Framework.MessagingShowUpdateEmail.Impl.dll" request_type="147" lpc="0" ws_url="http://devgdmsg/MessagingWS/MessagingWebService.asmx?wsdl" />
  <ConfigElement progid="Atlantis.Framework.BPSubscribeRemove.Impl.BPSubscribeRemoveRequest" assembly="Atlantis.Framework.BPSubscribeRemove.Impl.dll" request_type="167" lpc="0" ws_url="http://www.bobparsons.me-dev.ide/service.php?version=1" />
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeAdd.Impl.MktgSubscribeAddRequest" assembly="Atlantis.Framework.MktgSubscribeAdd.Impl.dll" request_type="169" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MessagingShopperNote.Impl.MessagingShopperNoteRequest" assembly="Atlantis.Framework.MessagingShopperNote.Impl.dll" request_type=" 200" lpc="0"  ws_url="http://devgdmsg/gdMessagingSystem/WSCgdMessagingSystem.dll?Handler=Default"/>
  <ConfigElement progid="Atlantis.Framework.AuthVerify.Impl.AuthVerifyRequest" assembly="Atlantis.Framework.AuthVerify.Impl.dll" request_type="209" lpc="0" ws_url="https://authentication.dev.glbt1.gdg/WScgdAuthentication/WScgdAuthenticate.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.PrivacyAppInsertUpdateRequest" assembly="Atlantis.Framework.PrivacyAppInsertUpdate.Impl.dll" request_type="221" lpc="0" ws_url="https://privacyapp.dev.glbt1.gdg/wscgdPrivacyApp/wscgdPrivacyApp.dll?Handler=Default" >
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMapUrl.Impl.StratosphereGetMapUrlRequest" assembly="Atlantis.Framework.StratosphereGetMapUrl.Impl.dll" request_type="236" lpc="0" ws_url="https://requestbroker.stratosphere.dev.sdl1.gdg/RequestBroker/Service.asmx"/>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="237" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.StratosphereGetMap.Impl.StratosphereGetMapAsyncRequest" assembly="Atlantis.Framework.StratosphereGetMap.Impl.dll" request_type="241" lpc="0">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperPrefGet.Impl.ShopperPrefGetRequest" assembly="Atlantis.Framework.ShopperPrefGet.Impl.dll" request_type="261" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperPrefGetModDate.Impl.ShopperPrefGetModDateRequest" assembly="Atlantis.Framework.ShopperPrefGetModDate.Impl.dll" request_type="263" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperPrefUpdate.Impl.ShopperPrefUpdateRequest" assembly="Atlantis.Framework.ShopperPrefUpdate.Impl.dll" request_type="271" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.RegGetDotTypeProductIdListRequest" assembly="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.dll" request_type="279" lpc="0" ws_url="http://g1twdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.RegGetDotTypeRegistrarRequest" assembly="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.dll" request_type="281" lpc="0" ws_url="http://g1twdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />  
  <ConfigElement progid="Atlantis.Framework.MktgSubscribeRemove.Impl.MktgSubscribeRemoveRequest" assembly="Atlantis.Framework.MktgSubscribeRemove.Impl.dll" request_type="282" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.OptInGetInfo.Impl.OptInGetInfoRequest" assembly="Atlantis.Framework.OptInGetInfo.Impl.dll" request_type="309" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.MYAGetMobileCarriers.Impl.MYAGetMobileCarriersRequest" assembly="Atlantis.Framework.MYAGetMobileCarriers.Impl.dll" request_type="311" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="Mobile MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EEMResellerOptIn.Impl.EEMResellerOptInRequest" assembly="Atlantis.Framework.EEMResellerOptIn.Impl.dll" request_type="312" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.EEMResellerOptOut.Impl.EEMResellerOptOutRequest" assembly="Atlantis.Framework.EEMResellerOptOut.Impl.dll" request_type="313" lpc="0" ws_url="" />
  <ConfigElement progid="Atlantis.Framework.OptInUpdateInfo.Impl.OptInUpdateInfoRequest" assembly="Atlantis.Framework.OptInUpdateInfo.Impl.dll" request_type="315" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCValidateNS.Impl.DCCValidateNSRequest" assembly="Atlantis.Framework.DCCValidateNS.Impl.dll" request_type="326" lpc="0" ws_url="http://dnsapi.test.secureserver-net.ide/dnsverifyapi.php">
    <ConfigValue key="ClientId" value="mya" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MktgSetShopperCommPref.Impl.MktgSetShopperCommPrefRequest" assembly="Atlantis.Framework.MktgSetShopperCommPref.Impl.dll" request_type="337" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.MktgSetShopperCommPrivacyHash.Impl.MktgSetShopperCommPrivacyHashRequest" assembly="Atlantis.Framework.MktgSetShopperCommPrivacyHash.Impl.dll" request_type="338" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="mya" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MktgGetShopperPreferences.Impl.MktgGetShopperPreferencesRequest" assembly="Atlantis.Framework.MktgGetShopperPreferences.Impl.dll" request_type="340" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WsgdMktgPublicationEmail/Service.asmx" />
  <ConfigElement progid="Atlantis.Framework.AuctionSearch.Impl.AuctionSearchRequest" assembly="Atlantis.Framework.AuctionSearch.Impl.dll" request_type="358" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpAdminUtilsService.asmx" />
  <ConfigElement progid="Atlantis.Framework.CostcoRemoveMemberInfo.Impl.CostcoRemoveMemberInfoRequest" assembly="Atlantis.Framework.CostcoRemoveMemberInfo.Impl.dll" request_type="370" lpc="0" ws_url="https://gdcomm.dev.glbt1.gdg/WSgdCostco/Service1.asmx">
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.AuctionGetAreaBySectionXml.Impl.AuctionGetAreaBySectionXmlRequest" assembly="Atlantis.Framework.AuctionGetAreaBySectionXml.Impl.dll" request_type="376" lpc="0" ws_url="http://g1dwdnaweb01/trpAdminUtilsService/trpAdminUtilsService.asmx?op=GetMembersAreaBySectionXML" />
  <ConfigElement progid="Atlantis.Framework.MyaMirageData.Impl.MyaMirageDataRequest" assembly="Atlantis.Framework.MyaMirageData.Impl.dll" request_type="386" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.GoodAsGoldReport.Impl.GoodAsGoldReportRequest" assembly="Atlantis.Framework.GoodAsGoldReport.Impl.dll" request_type="405" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileGetById.Impl.BuyerProfileGetByIdRequest" assembly="Atlantis.Framework.BuyerProfileGetById.Impl.dll" request_type="408" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CarmaTrustedShoppers.Impl.CarmaTrustedShoppersRequest" assembly="Atlantis.Framework.CarmaTrustedShoppers.Impl.dll" request_type="409" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.CarmaSendInvitation.Impl.CarmaSendInvitationRequest" assembly="Atlantis.Framework.CarmaSendInvitation.Impl.dll" request_type="410" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.CarmaRemoveTrustedShopper.Impl.CarmaRemoveTrustedShopperRequest" assembly="Atlantis.Framework.CarmaRemoveTrustedShopper.Impl.dll" request_type="411" lpc="0" ws_url="http://commgtwyws.dev.glbt1.gdg/WSgdCarma/WSgdCarma.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyerProfileAddUpdate.Impl.BuyerProfileAddUpdateRequest" assembly="Atlantis.Framework.BuyerProfileAddUpdate.Impl.dll" request_type="412" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileGetByShopperID.Impl.BuyerProfileGetByShopperIDRequest" assembly="Atlantis.Framework.BuyerProfileGetByShopperID.Impl.dll" request_type="413" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileDelete.Impl.BuyerProfileDeleteRequest" assembly="Atlantis.Framework.BuyerProfileDelete.Impl.dll" request_type="414" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.BuyerProfileSetDefault.Impl.BuyerProfileSetDefaultRequest" assembly="Atlantis.Framework.BuyerProfileSetDefault.Impl.dll" request_type="415" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperDataCategoryGetByCatId.Impl.ShopperDataCategoryGetByCatIdRequest" assembly="Atlantis.Framework.ShopperDataCategoryGetByCatId.Impl.dll" request_type="416" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.ShopperDataCategoryUpdate.Impl.ShopperDataCategoryUpdateRequest" assembly="Atlantis.Framework.ShopperDataCategoryUpdate.Impl.dll" request_type="417" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CarmaAddTrustedShopper.Impl.CarmaAddTrustedShopperRequest" assembly="Atlantis.Framework.CarmaAddTrustedShopper.Impl.dll" request_type="418" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.carma" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CarmaGetTrustedInvitation.Impl.CarmaGetTrustedInvitationRequest" assembly="Atlantis.Framework.CarmaGetTrustedInvitation.Impl.dll" request_type="419" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.carma" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.CarmaRemoveTrustedInvitation.Impl.CarmaRemoveTrustedInvitationRequest" assembly="Atlantis.Framework.CarmaRemoveTrustedInvitation.Impl.dll" request_type="420" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.carma" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaAccountList.Impl.MyaAccountListRequest" assembly="Atlantis.Framework.MyaAccountList.Impl.dll" request_type="425" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaAccordionMetaData.Impl.MyaAccordionMetaDataRequest" assembly="Atlantis.Framework.MyaAccordionMetaData.Impl.dll" request_type="428" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoices.Impl.EcommInvoicesRequest" assembly="Atlantis.Framework.EcommInvoices.Impl.dll" request_type="439" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceDetails.Impl.EcommInvoiceDetailsRequest" assembly="Atlantis.Framework.EcommInvoiceDetails.Impl.dll" request_type="440" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceToBasket.Impl.EcommInvoiceToBasketRequest" assembly="Atlantis.Framework.EcommInvoiceToBasket.Impl.dll" request_type="441" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.EcommInvoiceCancel.Impl.EcommInvoiceCancelRequest" assembly="Atlantis.Framework.EcommInvoiceCancel.Impl.dll" request_type="442" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WscgdBasket/WscgdBasket.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.DCCGetTransfersInProgress.Impl.DCCGetTransfersInProgressRequest" assembly="Atlantis.Framework.DCCGetTransfersInProgress.Impl.dll" request_type="445" lpc="0" ws_url="http://g1dwdsweb01/RegCheckDomainStatusWebSvc/RegCheckDomainStatusWebSvc.dll?Handler=Default" />
  <ConfigElement progid="Atlantis.Framework.BuyerProxyAccountsGet.Impl.BuyerProxyAccountsGetRequest" assembly="Atlantis.Framework.BuyerProxyAccountsGet.Impl.dll" request_type="447" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaMirageStatus.Impl.MyaMirageStatusRequest" assembly="Atlantis.Framework.MyaMirageStatus.Impl.dll" request_type="448" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.MyaRecentNamespaces.Impl.MyaRecentNamespacesRequest" assembly="Atlantis.Framework.MyaRecentNamespaces.Impl.dll" request_type="449" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.OrionSSOAuthToken.Impl.OrionSSOAuthTokenRequest" assembly="Atlantis.Framework.OrionSSOAuthToken.Impl.dll" request_type="451" lpc="0"  ws_url="https://orion.starfieldtech.com.dev.sdl1.gdg/security/security.asmx" />
  <ConfigElement progid="Atlantis.Framework.EEMGetQuotaAndPermissions.Impl.EEMGetQuotaAndPermissionsRequest" assembly="Atlantis.Framework.EEMGetQuotaAndPermissions.Impl.dll" request_type="454" lpc="0" >
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EEMCreateNewAccount.Impl.EEMCreateNewAccountRequest" assembly="Atlantis.Framework.EEMCreateNewAccount.Impl.dll" request_type="455" lpc="0" ws_url="http://ws.dev.quicksizzle.com/campaignblazer.asmx"/>
  <ConfigElement progid="Atlantis.Framework.EEMGetAuthenticationGuid.Impl.EEMGetAuthenticationGuidRequest" assembly="Atlantis.Framework.EEMGetAuthenticationGuid.Impl.dll" request_type="456" lpc="0" ws_url="http://ws.dev.quicksizzle.com/campaignblazer.asmx"/>
  <ConfigElement progid="Atlantis.Framework.SEVGetWebsiteId.Impl.SEVGetWebsiteIdRequest" assembly="Atlantis.Framework.SEVGetWebsiteId.Impl.dll" request_type="457" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.trafficBlazerApp" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EEMGetCustomerSummary.Impl.EEMGetCustomerSummaryRequest" assembly="Atlantis.Framework.EEMGetCustomerSummary.Impl.dll" request_type="458" lpc="0" ws_url="http://ws.dev.quicksizzle.com/campaignblazer.asmx"/>

</ConfigElements>
<!--Please Insert All New ConfigElements In Correct Request_Type Numerical Order-->
