<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="netConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <netConnect.Properties.Settings>
      <setting name="netConnect_WSCConnect_WSCConnectService" serializeAs="String">
        <value>https://connect-gen.dev.glbt1.gdg/wscconnect/wscconnect.dll?handler=default</value>
      </setting>
    </netConnect.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="NetConnect.ApplicationName" value="MYA"/>
    <add key="NetConnect.CertificateName" value="corp.web.mya.dev.client.godaddy.com"/>

    
  </appSettings>
</configuration>