<?xml version="1.0" encoding="utf-8" ?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.BillingAlertsByShopper.Impl.BillingAlertsByShopperRequest" assembly="Atlantis.Framework.BillingAlertsByShopper.Impl.dll" request_type="99" lpc="0">
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  
  <!--
    MYA  
    <ConfigValue key="DataSourceName" value="Billing" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
    
    MYAServices
    <ConfigValue key="DataSourceName" value="corp.web.myaapp.godaddybilling" />
    <ConfigValue key="CertificateName" value="myaapp.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="myaservices" />    
  -->
</ConfigElements>