<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  
<ConfigElement progid="Atlantis.Framework.ECCGetEmailPlansForShopper.Impl.EccGetEmailPlansForShopperRequest" assembly="Atlantis.Framework.ECCGetEmailPlansForShopper.Impl.dll" request_type="225" lpc="0" ws_url="http://eccapi.devlhvm03.stgwbe.com/index.php?wsdl">
  <ConfigValue key="authName" value="GDMobile" />
  <ConfigValue key="authToken" value="godaddymobile" />
  <ConfigValue key="requestKey" value="tH15!zt433Cc@P1*" />
</ConfigElement>

</ConfigElements>