<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.MyaProductEEM.Impl.MyaProductEEMRequest" assembly="Atlantis.Framework.MyaProductEEM.Impl.dll" request_type="471" lpc="0">
    <ConfigValue key="DataSourceName" value="corp.web.mya.Godaddy" />
    <ConfigValue key="CertificateName" value="corp.web.mya.dev.client.godaddy.com" />
    <ConfigValue key="ApplicationName" value="MYA" />
  </ConfigElement>
  <ConfigElement progid="Atlantis.Framework.EEMGetCustomerSummary.Impl.EEMGetCustomerSummaryRequest" assembly="Atlantis.Framework.EEMGetCustomerSummary.Impl.dll" request_type="458" lpc="0" ws_url="http://ws.dev.quicksizzle.com/campaignblazer.asmx"/>  
</ConfigElements>