<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.HDVDRequestAddIP.Impl.HDVDRequestAddIpRequest" assembly="Atlantis.Framework.HDVDRequestAddIP.Impl.dll" request_type="999" lpc="0" ws_url="http://aries-mobilehccwebservices.test.secureserver-net.ide:8090/HCCAPIServiceAries.asmx"></ConfigElement>
</ConfigElements>
