<?xml version="1.0" encoding="UTF-8"?>
<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.DCCIsDomainAlertCancellableRequest" assembly="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.dll" request_type="224" lpc="0" ws_url="http://g1twdsweb01/RegBackorderDataWebSvc/RegBackorderDataWebSvc.asmx" />
  
  <!--
  DEV
  <ConfigElement progid="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.DCCIsDomainAlertCancellableRequest" assembly="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.dll" request_type="224" lpc="0" ws_url="http://g1dwdsweb01/RegBackorderDataWebSvc/RegBackorderDataWebSvc.asmx" />
  
  TEST
  <ConfigElement progid="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.DCCIsDomainAlertCancellableRequest" assembly="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.dll" request_type="224" lpc="0" ws_url="http://g1twdsweb01/RegBackorderDataWebSvc/RegBackorderDataWebSvc.asmx" />
  
  OTE
  <ConfigElement progid="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.DCCIsDomainAlertCancellableRequest" assembly="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.dll" request_type="224" lpc="0" ws_url="http://dsweb.ote.phx3.gdg/RegBackorderDataWebSvc/RegBackorderDataWebSvc.asmx" />
  
  PROD
  <ConfigElement progid="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.DCCIsDomainAlertCancellableRequest" assembly="Atlantis.Framework.DCCIsDomainAlertCancellable.Impl.dll" request_type="224" lpc="0" ws_url="http://m1pwdsweb-v02.prod.mesa1.gdg/RegBackorderDataWebSvc/RegBackorderDataWebSvc.asmx" />
  -->  
</ConfigElements>
