<?xml version="1.0" encoding="utf-8" ?>

<ConfigElements>
  <ConfigElement progid="Atlantis.Framework.GetCoupons.Impl.GetCouponsRequest" assembly="Atlantis.Framework.GetCoupons.Impl.dll" request_type="86" lpc="0" ws_url="http://gdcomm.dev.glbt1.gdg/WSCgdAdWordCoupons/WSCgdAdWordCoupons.dll?Handler=Default" />
</ConfigElements>
