<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings">
            <section name="Atlantis.Framework.PrivacyRenewalBasketXml.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Atlantis.Framework.PrivacyRenewalBasketXml.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_PrivacyRenewalBasketXml_Impl_EComPrivacyRenewalXmlService_wscgdDomainProtectionXMLService"
                serializeAs="String">
                <value>http://commgtwyws.dev.glbt1.gdg:80/wscgdDomainProtectionXML/wscgdDomainProtectionXML.dll?Handler=Default</value>
            </setting>
        </Atlantis.Framework.PrivacyRenewalBasketXml.Impl.Properties.Settings>
    </applicationSettings>
</configuration>