<?xml version="1.0" encoding="utf-8"?>
<ConfigElements> 
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.RegGetDotTypeProductIdListRequest" assembly="Atlantis.Framework.RegGetDotTypeProductIdList.Impl.dll" request_type="279" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.RegGetDotTypeRegistrarRequest" assembly="Atlantis.Framework.RegGetDotTypeRegistrar.Impl.dll" request_type="281" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeRegistry.Impl.RegDotTypeRegistryRequest" assembly="Atlantis.Framework.RegDotTypeRegistry.Impl.dll" request_type="639" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.RegDotTypeProductIds.Impl.ProductIdListRequest" assembly="Atlantis.Framework.RegDotTypeProductIds.Impl.dll" request_type="640" lpc="0" ws_url="http://g1dwdsweb01/RegistrationApiWebSvc/RegistrationApiWebSvc.asmx" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ActiveTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="635" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.CustomTLDGroupRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="636" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.OfferedTLDsRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="637" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DCCDomainsDataCache.Impl.TLDMLByNameRequest" assembly="Atlantis.Framework.DCCDomainsDataCache.Impl.dll" request_type="634" lpc="0" ws_url="https://regweb.dev.glbt1.gdg/DomainsDataCacheWebSvc/DomainsDataCache.asmx" />
  <ConfigElement progid="Atlantis.Framework.DomainContactFields.Impl.DomainContactFieldsRequest" assembly="Atlantis.Framework.DomainContactFields.Impl.dll" request_type="651" lpc="0"></ConfigElement>
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDLanguageRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="655" lpc="0" />
  
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelDataRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="659" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="660" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.ProgIdRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="661" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PrivateLabelTypeRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="662" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.IsPrivateLabelActiveRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="663" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ValidDotTypesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="667" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.ExtendedTLDDataRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="668" lpc="0" />
  <ConfigElement lpc="0" />
  <ConfigElement progid="Atlantis.Framework.Products.Impl.NonUnifiedPfidRequest" assembly="Atlantis.Framework.Products.Impl.dll" request_type="699" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.TLDDataCache.Impl.TLDProductDomainAttributesRequest" assembly="Atlantis.Framework.TLDDataCache.Impl.dll" request_type="745" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DotTypeAvailability.Impl.DotTypeAvailabilityRequest" assembly="Atlantis.Framework.DotTypeAvailability.Impl.dll" request_type="753" ws_url="https://regcheck.dev.glbt1.gdg/TldAvailabilitySvc/TldAvailSvc.svc" />
  <ConfigElement progid="Atlantis.Framework.PrivateLabel.Impl.PLSignupInfoRequest" assembly="Atlantis.Framework.PrivateLabel.Impl.dll" request_type="522" lpc="0" />


  <ConfigElement progid="Atlantis.Framework.Localization.Impl.ValidCountrySubdomainsRequest" assembly="Atlantis.Framework.Localization.Impl.dll" request_type="673" lpc="0" />
  <ConfigElement progid="Atlantis.Framework.DomainSearch.Impl.DomainSearchRequest" assembly="Atlantis.Framework.DomainSearch.Impl.dll" request_type="714" lpc="0" ws_url="http://g1dwlep001/findnameservice/v2/findname" />
  <ConfigElement progid="Atlantis.Framework.DomainSearch.Impl.DomainSearchRequest" assembly="Atlantis.Framework.DomainSearch.Impl.dll" request_type="100714" lpc="0" ws_url="http://g1dwlep001/findnameservice/v2/findname" />
 

<ConfigElement progid="Atlantis.Framework.AppSettings.Impl.AppSettingRequest" assembly="Atlantis.Framework.AppSettings.Impl.dll" request_type="658" lpc="0" /></ConfigElements>
