<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings">
            <section name="Atlantis.Framework.AuctionsDomainName.Impl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Atlantis.Framework.AuctionsDomainName.Impl.Properties.Settings>
            <setting name="Atlantis_Framework_AuctionsDomainName_Impl_g1dwdnaweb01_trpMemberItemService"
                serializeAs="String">
                <value>http://g1dwdnaweb01/trpAdminUtilsService/trpMemberItemService.asmx</value>
            </setting>
        </Atlantis.Framework.AuctionsDomainName.Impl.Properties.Settings>
    </applicationSettings>
</configuration>